
#tvCaptcha {
  width: 100% !important;
  height: 100% !important;
}

.tv_preview {
  position: relative;
  text-align: center;
  margin-top: 50px;

  .tv_preview_img {
    display: inline-block;
    width: 80%;
  }
}

.tv_full_screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("/img/b/tv/tv_bg.png") no-repeat;
  background-size: 100% 100%;
}

.tv_full_screen_header {
  position: relative;
  background: url("/img/b/tv/tv_bg_header.png") no-repeat;
  background-size: 100% 100%;
  height: 188px;

  .tv_shop_icon {
    position: relative;
    display: inline-block;
    vertical-align: top;
    top: 20px;
    margin-left: 60px;
    border: solid px2rem(1) #82CFFF;
    border-radius: 50%;
    width: 148px;
    height: 148px;
  }

  .tv_shop_title {
    display: inline-block;
    vertical-align: top;
    font-size: 54px;
    font-weight: 400;
    color: white;
    height: 188px;
    line-height: 188px;
    text-shadow: 0 0 px2rem(1) rgba(26, 26, 26, 0.3);
    margin-left: 30px;
  }

  .tv_shop_state {
    position: absolute;
    padding: 0 20px;
    height: 76px;
    background: linear-gradient(90deg, rgba(49, 91, 253, 1), rgba(61, 179, 255, 1));
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    right: 60px;
    text-align: center;

    top: 50%;
    transform: translate(0, -50%);

    .tv_shop_state_icon_open {
      display: inline-block;
      vertical-align: middle;
      background-image: url("/img/b/tv/tv_shop_open.png");
      background-size: 100% 100%;
      width: 40px;
      height: 40px;

      position: relative;
      top: 50%;
      transform: translate(0, -50%);
    }

    .tv_shop_state_icon_close {
      display: inline-block;
      vertical-align: middle;
      background-image: url("/img/b/tv/tv_shop_close.png");
      background-size: 100% 100%;
      width: 40px;
      height: 40px;

      position: relative;
      top: 50%;
      transform: translate(0, -50%);
    }

    .tv_shop_state_label {
      display: inline-block;
      vertical-align: middle;
      color: white;
      font-weight: 400;;
      margin-left: 5px;

      position: relative;
      top: 50%;
      transform: translate(0, -50%);
    }
  }
}

.tv_full_screen_radio {
  position: relative;
  background: #061945;
  height: 88px;

  .tv_full_screen_radio_icon {
    display: inline-block;
    background-image: url("/img/b/tv/tv_radio.png");
    background-size: 100% 100%;
    width: 28px;
    height: 28px;
    margin-left: 60px;

    position: relative;
    top: 50%;
    transform: translate(0, -50%);
  }

  .tv_full_screen_radio_label {
    position: absolute;
    left: px2rem(60 + 28 + 10);
    right: 60px;
    top: 0;
    font-size: 32px;
    margin-left: 10px;
    height: 88px;
    line-height: 88px;
    color: #B9BBC3;

    .tv_full_screen_radio_label_content {
      font-size: 30px;
      font-weight: 400;

      .tv_full_screen_radio_label_number {
        color: white;
        font-size: 32px;
        font-weight: 400;
      }
    }
  }
}

.tv_full_screen_footer {
  position: absolute;
  top: px2rem(188 + 88 + 20);
  left: 60px;
  right: 60px;
  bottom: 100px;

  .tv_full_screen_captcha_box {
    margin-top: 30px;
    width: 360px;
    background: linear-gradient(38deg, rgba(2, 20, 59, 1), rgba(21, 50, 114, 1));
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    text-align: center;

    .tv_full_screen_captcha {
      position: relative;
      display: inline-block;
      margin-top: 50px;
      width: 260px;
      height: 260px;

      background: url("/img/b/tv/tv_captcha.png");
      background-size: 100% 100%;
    }

    .tv_full_screen_captcha_label {
      margin-top: 20px;
      padding-bottom: 30px;
      color: #6B84BD;
      text-align: center;
      font-size: 30px;
      font-weight: 400;;
    }
  }

  .tv_full_screen_time_box {
    position: absolute;
    bottom: 0;
    height: 110px;
    background: rgba(2, 17, 50, 1);
    border: solid px2rem(1) rgba(0, 156, 255, 1);
    border-radius: 4px;
    box-shadow: 0 0 30px rgba(0, 156, 255, 0.3) inset;

    .tv_full_screen_time_box_left {
      display: inline-block;
      vertical-align: middle;
      padding-left: 20px;
      text-align: center;

      .tv_full_screen_time_label {
        display: inline-block;
        vertical-align: middle;
        color: #009CFF;
        font-size: 68px;
        font-weight: 400;
        height: 110px;
        line-height: 110px;
      }
    }

    .tv_full_screen_time_box_right {
      display: inline-block;
      vertical-align: middle;
      padding-left: 10px;
      padding-right: 30px;
      text-align: left;

      .tv_full_screen_time_week {
        color: #009CFF;
        font-size: 28px;
        line-height: 30px;
        font-weight: 400;
      }

      .tv_full_screen_time_date {
        color: #009CFF;
        font-size: 28px;
        line-height: 30px;
        font-weight: 400;
      }
    }
  }
}

.tv_full_screen_footer_table {
  position: absolute;
  left: 450px;
  right: 0;
  top: 0;
  bottom: 0;
  margin-top: 30px;
  background: rgba(2, 17, 50, 1);
  border: solid px2rem(1) rgba(0, 156, 255, 1);
  border-radius: 4px;
  box-shadow: 0 0 30px rgba(0, 156, 255, 0.3) inset;
  padding: 40px;

  .tv_full_screen_footer_table_title {
    display: inline-block;
    vertical-align: middle;
    background: rgba(21, 58, 138, 0.2);
    height: 100px;
    line-height: 100px;
    width: 25%;
    text-align: center;
    font-size: 32px;
    color: #00A2FF;
    font-weight: 400;
  }

  .tv_full_screen_footer_table_content {
    display: inline-block;
    height: 70px;
    line-height: 70px;
    width: 25%;
    font-size: 32px;
    color: #B2C9F0;
    font-weight: 400;
    text-align: center;
    border-bottom: solid px2rem(1) rgba(30, 61, 129, 0.6);
    overflow: hidden;
  }
}
