.coupon {
  margin-top: 20px;
  height: 245px;
  background: #FFF8ED;
}

.coupon_white {
  background: white !important;
}

.coupon_title {
  display: inline-block;
  height: 150px;

  .coupon_title_label {
    margin-left: 35px;
    margin-top: 30px;
    font-size: 30px;
    color: #333333;
    font-weight: 400;
  }

  .coupon_title_charge {
    margin-left: 35px;
    margin-top: 20px;

    .coupon_title_charge_icon {
      display: inline-block;
      background: #F7DBA0;
      color: #AA8635;
      border-radius: 4px;
      font-size: 22px;
      height: 34px;
      line-height: 34px;
      padding: 0 10px;
    }

    .coupon_title_charge_icon_disable {
      background: #FAFAFA !important;
      color: #999999;
    }

    .coupon_title_charge_label {
      display: inline-block;
      margin-left: 5px;
      font-size: 24px;
      color: #666666;
    }
  }
}

.coupon_price {
  float: right;
  height: 150px;
  display: inline-block;
  font-size: 80px;
  font-weight: 400;
  color: #F52626;
  margin-right: 35px;
  line-height: 150px;
}

.coupon_price:before {
  content: "¥";
  line-height: 150px;
  color: #f52626;
  font-size: 40px;
  margin-right: 5px;
}

.coupon_price_disable {
  color: #999999 !important;
}

.coupon_price_disable:before {
  content: "¥";
  line-height: 150px;
  color: #999999;
  font-size: 40px;
  margin-right: 5px;
}

.coupon_footer {
  position: relative;
  padding: 0 35px;

  .coupon_expired_time {
    display: inline-block;
    vertical-align: middle;
    color: #999999;
    font-size: 24px;
    height: 58px;
    line-height: 58px;
  }

  .coupon_button {
    float: right;
    display: inline-block;
    vertical-align: middle;
    color: white;
    background: linear-gradient(90deg, rgba(255, 51, 68, 1), rgba(255, 136, 51, 1));
    line-height: 58px;
    text-align: center;

    width: 168px;
    height: 58px;
    border: px2rem(1) solid rgba(230, 230, 230, 0.5);
    border-radius: px2rem(58 * 0.5);
  }
}

.limit_coupon_label {
  margin: 30px auto 20px auto;
  text-align: center;
  color: #666666;
}

.coupon_limit {
  position: relative;
  background: #FAFAFA;
  height: 90px;
  padding: 10px 35px 0 35px;

  .coupon_limit_title {
    font-size: 20px;
    color: #F52626;
  }

  .coupon_limit_label {
    font-size: 20px;
    color: #333333;
    margin-top: 5px;
  }
}

.coupon_disable {
  color: #999999 !important;
}


.coupon_fetch {
  position: relative;
  margin-top: 35px;
  margin-bottom: 20px;
  text-align: center;
  font-size: 0;

  .coupon_label_left {
    display: inline-block;
    font-size: 26px;
    line-height: 50px;
    background: #fd6d62;
    color: white;
    padding-left: 10px;
    padding-right: 5px;
    border-radius: 5px 0 0 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  }

  .coupon_divide_radius {
    display: inline-block;
    height: 50px;
    width: 10px;
    background: radial-gradient(circle at top, transparent 5px, #fd6d62 0) top, radial-gradient(circle at bottom, transparent 5px, #fd6d62 0) bottom;
    background-size: 100% 50%;
    background-repeat: no-repeat;

    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
  }

  .coupon_label_right {
    display: inline-block;
    font-size: 26px;
    line-height: 50px;
    background: #fd6d62;
    margin-left: 10px;
    padding-left: 5px;
    padding-right: 10px;
    color: white;
    border-radius: 0 5px 5px 0;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  }
}