.order_table {
  height: px2rem(160);
  margin-top: px2rem(40);
  text-align: center;
  background: white;

  .order_table_number {
    display: inline-block;
    font-size: px2rem(80);
    color: #f52626;
    line-height: px2rem(160);
  }

  .order_table_name {
    display: inline-block;
    margin-left: px2rem(5);
    font-size: px2rem(30);
  }
}

.order_content {
  background: white;
  padding-bottom: px2rem(10);
}

.order_food {
  position: relative;
  height: px2rem(130);

  .order_food_image {
    background: white;
    width: px2rem(100);
    height: px2rem(100);
    border-radius: px2rem(5);
    position: absolute;
    left: px2rem(35);
    top: 50%;
    transform: translate(0, -50%);
  }

  .table_name {
    position: absolute;
    left: px2rem(155);
    display: inline-block;
    font-size: px2rem(28);
    line-height: px2rem(130);
  }

  .order_food_name_detail {
    position: absolute;
    left: px2rem(155);
    right: px2rem(320);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    top: 50%;
    transform: translate(0, -50%);

    .order_food_name_detail_name {
      font-size: px2rem(28);
      color: #333333;
    }

    .order_food_name_detail_name_category {
      margin-top: px2rem(5);
      font-size: px2rem(24);
      color: #999999;
    }
  }

  .order_food_status {
    position: absolute;
    border-radius: px2rem(10);
    font-size: px2rem(24);
    width: px2rem(100);
    text-align: center;
    vertical-align: middle;
    right: px2rem(210);
    height: px2rem(40);
    line-height: px2rem(40);
    top: 50%;
    transform: translate(0, -50%);
  }

  .order_food_status_new {
    background: #ebf5ff;
    color: #3598fe;
  }

  .order_food_status_wait {
    background: #fff1e6;
    color: #ff7701;
  }

  .order_food_status_cooking {
    background: #e6f7f1;
    color: #00b16b;
  }

  .order_food_status_cooked {
    background: #f8f0fd;
    color: #c05fe2;
  }

  .order_food_status_finish {
    background: #fde9ea;
    color: #f42326;
  }

  .order_food_count {
    position: relative;
    right: px2rem(130);
    top: 0;
    text-align: right;
    line-height: px2rem(130);
  }

  .order_food_count:before {
    position: relative;
    font-size: px2rem(24);
    content: "x";
    right: px2rem(5);
  }

  .order_food_price {
    position: absolute;
    right: px2rem(30);
    top: 0;
    text-align: right;
    line-height: px2rem(130);
  }

  .order_food_price:before {
    content: "¥";
    font-size: px2rem(22);
    margin-right: px2rem(5);
  }
}

.order_tableware {
  position: relative;
  height: px2rem(100);

  .order_tableware_icon {
    font-size: px2rem(24);
    color: #B38F8F;
    background: #FAF2F2;
    border-radius: px2rem(5);
    border: #F0E4E4 px2rem(1) solid;
    width: px2rem(100);
    height: px2rem(40);
    line-height: px2rem(40);
    text-align: center;
    vertical-align: middle;
    left: px2rem(35);
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
  }

  .order_tableware_label {
    left: px2rem(155);
    top: 0;
    position: absolute;
    font-size: px2rem(28);
    line-height: px2rem(100);
  }

  .order_tableware_count {
    position: absolute;
    right: px2rem(130);
    text-align: right;
    top: 0;
    line-height: px2rem(100);
  }

  .order_tableware_count:before {
    content: "x";
    font-size: px2rem(24);
    margin-right: px2rem(5);
  }

  .order_tableware_price {
    position: absolute;
    right: px2rem(35);
    text-align: right;
    top: 0;
    line-height: px2rem(100);
  }

  .order_tableware_price:before {
    content: "¥";
    font-size: px2rem(22);
    margin-right: px2rem(5);
  }
}

.order_coupon {
  position: relative;
  height: px2rem(100);

  .order_coupon_icon {
    font-size: px2rem(24);
    background: #F7DBA0;
    color: #AA8635;
    border-radius: px2rem(5);
    width: px2rem(100);
    height: px2rem(40);
    line-height: px2rem(40);
    text-align: center;
    vertical-align: middle;
    left: px2rem(35);
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
  }

  .order_coupon_label {
    left: px2rem(155);
    top: 0;
    position: absolute;
    font-size: px2rem(28);
    line-height: px2rem(100);
  }

  .order_coupon_count {
    color: #f52626;
    background: #FCF0F0;
    border-radius: px2rem(5);
    border: #F57A7A px2rem(1) solid;
    right: px2rem(75);
    text-align: right;
    height: px2rem(40);
    line-height: px2rem(40);
    vertical-align: middle;
    padding: 0 px2rem(10);
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
  }

  .order_coupon_count:after {
    content: ">";
    color: #666666;
    margin-left: px2rem(20);
    height: px2rem(40);
    line-height: px2rem(40);
    vertical-align: middle;
    padding: 0 px2rem(10);
    position: absolute;
  }

  .order_coupon_content {
    position: absolute;
    right: px2rem(35);
    top: 0;
    line-height: px2rem(100);
    color: #F52626;
  }

  .order_coupon_content:before {
    content: "- ¥";
    font-size: px2rem(22);
    margin-right: px2rem(5);
    color: #F52626;
  }
}

.order_price {
  position: relative;
  height: px2rem(100);

  .order_price_food_count {
    display: inline-block;
    vertical-align: bottom;
    margin-left: px2rem(35);
    font-size: px2rem(26);
    line-height: px2rem(100);
  }

  .order_price_total_label {
    display: inline-block;
    vertical-align: bottom;
    float: right;
    font-size: px2rem(26);
    line-height: px2rem(100);
    padding-right: px2rem(20);
  }

  .order_price_total {
    display: inline-block;
    vertical-align: bottom;
    float: right;
    font-size: px2rem(50);
    color: #f52626;
    margin-right: px2rem(35);
    line-height: px2rem(100);
  }

  .order_price_total:before {
    display: inline-block;
    vertical-align: bottom;
    content: "¥";
    font-size: px2rem(36);
    color: #f52626;
    margin-right: px2rem(5);
    line-height: px2rem(100);
  }

  .order_price_total_original {
    display: inline-block;
    vertical-align: bottom;
    float: right;
    font-size: px2rem(28);
    color: #999999;
    margin-right: px2rem(15);
    line-height: px2rem(100);
    text-decoration:line-through;
  }

  .order_price_total_original:before {
    display: inline-block;
    vertical-align: bottom;
    content: "¥";
    font-size: px2rem(28);
    color: #999999;
    margin-right: px2rem(5);
    line-height: px2rem(100);
  }
}

.order_taste_note_history {
  position: relative;
  background: white;

  .order_taste_note_history_label {
    font-size: px2rem(28);
    margin-top: px2rem(20);
    margin-left: px2rem(35);
    margin-bottom: px2rem(20);
  }

  .order_taste_note_history_item {
    padding-left: px2rem(110);
    position: relative;
    padding-bottom: px2rem(20);
    margin-right: px2rem(35);

    .order_taste_note_history_icon_ball {
      position: absolute;
      background: rgba(230, 230, 230, 0.5);
      border-radius: 50%;
      width: px2rem(10);
      height: px2rem(10);
      top: px2rem(10);
      z-index: 1;
    }

    .order_taste_note_history_icon_line {
      position: absolute;
      background: rgba(230, 230, 230, 0.5);
      width: px2rem(1);
      margin-left: px2rem(4);
      bottom: 0;
      height: 100%;
    }

    .order_taste_note_history_content {
      margin-left: px2rem(35);
      color: #999999;
    }
  }
}

.order_history_status {
  float: right;
  display: inline-block;
  margin-right: px2rem(30);
  line-height: px2rem(90);
  font-size: px2rem(28);
}

.order_history_status_finish {
  color: #3598fe;
}

.order_history_status_not_paid {
  color: #f42326;
}

.order_history_status_eating {
  color: #1BB366;
}

.order_history_status_closed {
  color: rgba(221, 221, 221, 1);
}

.order_history {
  position: relative;
  background: white;
}

.order_history_food {
  position: relative;
  padding: px2rem(20) px2rem(35);

  .order_history_food_content {
    line-height: px2rem(40);
    color: #666666;
  }
}

.order_history_footer {
  position: relative;
  height: px2rem(70);

  .order_history_label {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin-left: px2rem(30);
    height: px2rem(70);

    .order_history_table_label {
      display: inline-block;
      vertical-align: middle;
      color: #333333;
      line-height: px2rem(70);
    }

    .order_history_table_content {
      display: inline-block;
      vertical-align: middle;
      margin-left: px2rem(5);
      margin-right: px2rem(5);
      line-height: px2rem(70);
      color: #f52626;
      font-size: px2rem(36);
    }

    .order_history_price_label {
      display: inline-block;
      vertical-align: middle;
      color: #333333;
      line-height: px2rem(70);
    }

    .order_history_price_content {
      display: inline-block;
      vertical-align: middle;
      margin-left: px2rem(5);
      margin-right: px2rem(5);
      line-height: px2rem(70);
      color: #f52626;
      font-size: px2rem(36);
    }

    .order_history_price_content:after {
      display: inline-block;
      vertical-align: middle;
      content: "元";
      margin-left: px2rem(5);
      margin-right: px2rem(5);
      color: #333333;
    }
  }

  .order_history_detail {
    margin-right: px2rem(30);
    line-height: px2rem(58);
    text-align: center;
    color: #666666;

    width: px2rem(168);
    height: px2rem(58);
    border: px2rem(1) solid rgba(230, 230, 230, 0.5);
    border-radius: px2rem(58/2);

    right: 0;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
  }
}

.people_box {
  margin: px2rem(30) px2rem(30);
  height: px2rem(300);
  overflow-y: auto;

  .people_one {
    display: inline-block;
    float: left;
    width: 33%;
    text-align: center;
    margin-bottom: px2rem(30);

    .people_one_name {
      display: inline-block;

      background: #F5F5F5;
      color: #666666;
      width: 80%;
      padding: px2rem(10);
    }

    .people_one_name_select {
      display: inline-block;

      background: #FEE9E9;
      color: #f52626;
      width: 80%;
      padding: px2rem(10);
    }
  }
}


.choose_box {
  position: relative;
  padding: px2rem(0) px2rem(40);
  text-align: left;
}

.choose_remark {
  .choose_remark_label {
    display: inline-block;
    font-size: px2rem(28);
    color: #333333;
  }

  .choose_remark_one {
    display: inline-block;
    margin-right: px2rem(20);
    margin-bottom: px2rem(20);

    .choose_remark_name {
      display: inline-block;
      background: #F5F5F5;
      color: #666666;
      padding: px2rem(15) px2rem(20);
    }

    .choose_remark_name_select {
      display: inline-block;
      background: #FFEBEB;
      color: #f52626;
      padding: px2rem(15) px2rem(20);
    }
  }

  .choose_remark_text_area {
    position: relative;
    height: px2rem(150);

    .choose_remark_text_input {
      overflow-y: auto;
      border: none;
      outline: medium;
      background-color: #F5F5F5;
      color: #666666;
      resize: none;

      padding: px2rem(10);
      width: 100%;
      height: 100%;
    }
  }
}

.order_taste_note {
  background: white;

  .order_taste_note_label {
    margin-left: px2rem(35);
  }
}
