.order_table {
  height: 160px;
  margin-top: 20px;
  text-align: center;
  background: white;

  .order_table_number {
    display: inline-block;
    font-size: 80px;
    color: #f52626;
    height: 160px;
    line-height: 160px;
  }

  .order_table_name {
    display: inline-block;
    margin-left: 5px;
    font-size: 30px;
  }
}

.order_content {
  background: white;
  padding-top: 20px;
}

.order_food {
  position: relative;
  height: 130px;

  .order_food_image {
    background: white;
    width: 100px;
    height: 100px;
    border-radius: 5px;
    position: absolute;
    left: 35px;
    top: 50%;
    transform: translate(0, -50%);
  }

  .table_name {
    position: absolute;
    left: 155px;
    display: inline-block;
    font-size: 28px;
    height: 130px;
    line-height: 130px;
    vertical-align: middle;
  }

  .order_food_name_detail {
    position: absolute;
    left: 155px;
    right: 320px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    top: 50%;
    transform: translate(0, -50%);
    vertical-align: middle;

    .order_food_name_detail_name {
      font-size: 28px;
      color: #333333;

      .order_food_name_detail_name_category {
        display: inline-block;
        color: #999999;
      }
    }

    .order_food_name_detail_name_garnish {
      margin-top: 5px;
      margin-right: 5px;
      color: #999999;
    }
  }

  .order_food_status {
    position: absolute;
    border-radius: 10px;
    font-size: 24px;
    width: 100px;
    text-align: center;
    vertical-align: middle;
    right: 210px;
    height: 40px;
    line-height: 40px;
    top: 50%;
    transform: translate(0, -50%);
  }

  .order_food_status_new {
    background: #ebf5ff;
    color: #3598fe;
  }

  .order_food_status_wait {
    background: #fff1e6;
    color: #ff7701;
  }

  .order_food_status_cooking {
    background: #e6f7f1;
    color: #00b16b;
  }

  .order_food_status_cooked {
    background: #f8f0fd;
    color: #c05fe2;
  }

  .order_food_status_finish {
    background: #fde9ea;
    color: #f42326;
  }

  .order_food_count {
    position: absolute;
    right: 150px;
    top: 0;
    text-align: right;
    height: 130px;
    line-height: 130px;
    vertical-align: middle;
  }

  .order_food_count:before {
    font-size: 24px;
    content: "x";
    margin-right: 5px;
    color: #666666;
  }

  .order_food_price {
    position: absolute;
    right: 35px;
    top: 0;
    text-align: right;
    height: 130px;
    line-height: 130px;
    vertical-align: middle;
  }

  .order_food_price:before {
    content: "¥";
    font-size: 22px;
    margin-right: 5px;
  }
}

.order_tableware {
  position: relative;
  height: 100px;

  .order_tableware_icon {
    font-size: 24px;
    color: #B38F8F;
    background: #FAF2F2;
    border-radius: 5px;
    border: #F0E4E4 px2rem(1) solid;
    width: 100px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    vertical-align: middle;
    left: 35px;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
  }

  .order_tableware_label {
    left: 155px;
    top: 0;
    position: absolute;
    font-size: 28px;
    height: 100px;
    line-height: 100px;
  }

  .order_tableware_count {
    position: absolute;
    right: 150px;
    text-align: right;
    top: 0;
    height: 100px;
    line-height: 100px;
  }

  .order_tableware_count:before {
    content: "x";
    font-size: 24px;
    margin-right: 5px;
    color: #666666;
  }

  .order_tableware_price {
    position: absolute;
    right: 35px;
    text-align: right;
    top: 0;
    height: 100px;
    line-height: 100px;
    font-size: 28px;
  }

  .order_tableware_price:before {
    content: "¥";
    font-size: 22px;
    margin-right: 5px;
  }
}

.order_coupon {
  position: relative;
  height: 100px;

  .order_coupon_icon {
    font-size: 24px;
    background: #F7DBA0;
    color: #AA8635;
    border-radius: 5px;
    width: 100px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    vertical-align: middle;
    left: 35px;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
  }

  .order_coupon_label {
    left: 155px;
    top: 0;
    position: absolute;
    font-size: 28px;
    height: 100px;
    line-height: 100px;
  }

  .order_coupon_count {
    color: #f52626;
    background: #FCF0F0;
    border-radius: 5px;
    border: #F57A7A px2rem(1) solid;
    right: 75px;
    text-align: right;
    height: 40px;
    line-height: 40px;
    vertical-align: middle;
    padding: 0 10px;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
  }

  .order_coupon_count:after {
    content: ">";
    color: #666666;
    margin-left: 20px;
    height: 40px;
    line-height: 40px;
    vertical-align: middle;
    padding: 0 10px;
    position: absolute;
  }

  .order_coupon_content {
    position: absolute;
    right: 35px;
    top: 0;
    height: 100px;
    line-height: 100px;
    color: #F52626;
  }

  .order_coupon_content:before {
    content: "- ¥";
    font-size: 22px;
    margin-right: 5px;
    color: #F52626;
  }
}

.order_price {
  position: relative;
  height: 100px;

  .order_price_food_count {
    display: inline-block;
    vertical-align: bottom;
    margin-left: 35px;
    font-size: 26px;
    height: 100px;
    line-height: 100px;
  }

  .order_price_total_label {
    display: inline-block;
    vertical-align: bottom;
    float: right;
    font-size: 26px;
    height: 100px;
    line-height: 100px;
    padding-right: 20px;
  }

  .order_price_total {
    display: inline-block;
    vertical-align: bottom;
    float: right;
    font-size: 50px;
    color: #f52626;
    margin-right: 35px;
    height: 100px;
    line-height: 100px;
  }

  .order_price_total:before {
    display: inline-block;
    vertical-align: bottom;
    content: "¥";
    font-size: 36px;
    color: #f52626;
    margin-right: 5px;
    line-height: 100px;
  }

  .order_price_total_original {
    display: inline-block;
    vertical-align: bottom;
    float: right;
    font-size: 28px;
    color: #999999;
    margin-right: 15px;
    height: 100px;
    line-height: 100px;
    text-decoration: line-through;
  }

  .order_price_total_original:before {
    display: inline-block;
    vertical-align: bottom;
    content: "¥";
    font-size: 28px;
    color: #999999;
    margin-right: 5px;
    height: 100px;
    line-height: 100px;
  }
}

.order_taste_note_history {
  position: relative;
  background: white;

  .order_taste_note_history_label {
    font-size: 28px;
    margin-top: 20px;
    margin-left: 35px;
    margin-bottom: 20px;
  }

  .order_taste_note_history_item {
    padding-left: 110px;
    position: relative;
    padding-bottom: 20px;
    margin-right: 35px;

    .order_taste_note_history_icon_ball {
      position: absolute;
      background: rgba(230, 230, 230, 0.5);
      border-radius: 50%;
      width: 10px;
      height: 10px;
      top: 10px;
      z-index: 1;
    }

    .order_taste_note_history_icon_line {
      position: absolute;
      background: rgba(230, 230, 230, 0.5);
      width: px2rem(1);
      margin-left: 4px;
      bottom: 0;
      height: 100%;
    }

    .order_taste_note_history_content {
      margin-left: 35px;
      color: #999999;
    }
  }
}

.order_history_status {
  float: right;
  display: inline-block;
  margin-right: 30px;
  height: 90px;
  line-height: 90px;
  font-size: 28px;
}

.order_history_status_finish {
  color: #3598fe;
}

.order_history_status_not_paid {
  color: #f42326;
}

.order_history_status_eating {
  color: #1BB366;
}

.order_history_status_closed {
  color: rgba(221, 221, 221, 1);
}

.order_history {
  position: relative;
  background: white;
}

.order_history_food {
  position: relative;
  padding: 20px 35px;

  .order_history_food_content {
    height: 40px;
    line-height: 40px;
    color: #666666;
  }
}

.order_history_footer {
  position: relative;
  height: 70px;

  .order_history_label {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin-left: 30px;
    height: 70px;

    .order_history_table_label {
      display: inline-block;
      vertical-align: middle;
      color: #333333;
      height: 70px;
      line-height: 70px;
    }

    .order_history_table_content {
      display: inline-block;
      vertical-align: middle;
      margin-left: 5px;
      margin-right: 5px;
      height: 70px;
      line-height: 70px;
      color: #f52626;
      font-size: 36px;
    }

    .order_history_price_label {
      display: inline-block;
      vertical-align: middle;
      color: #333333;
      height: 70px;
      line-height: 70px;
    }

    .order_history_price_content {
      display: inline-block;
      vertical-align: middle;
      margin-left: 5px;
      margin-right: 5px;
      height: 70px;
      line-height: 70px;
      color: #f52626;
      font-size: 36px;
    }

    .order_history_price_content:after {
      display: inline-block;
      vertical-align: middle;
      content: "元";
      margin-left: 10px;
      color: #333333;
      font-size: 26px;
      height: 70px;
      line-height: 70px;
    }
  }

  .order_history_label_2 {
    height: 70px;
    line-height: 70px;

    left: 240px;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
  }

  .order_history_detail {
    margin-right: 30px;
    line-height: 58px;
    text-align: center;
    color: #666666;

    width: 168px;
    height: 58px;
    border: px2rem(1) solid rgba(230, 230, 230, 0.5);
    border-radius: px2rem(58 / 2);

    right: 0;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
  }
}

.people_box {
  margin: 30px 30px;
  height: 300px;
  overflow-y: auto;

  .people_one {
    display: inline-block;
    float: left;
    width: 33%;
    text-align: center;
    margin-bottom: 30px;

    .people_one_name {
      display: inline-block;

      background: #F5F5F5;
      color: #666666;
      width: 80%;
      padding: 10px;
    }

    .people_one_name_select {
      display: inline-block;

      background: #FEE9E9;
      color: #f52626;
      width: 80%;
      padding: 10px;
    }
  }
}

.choose_box {
  position: relative;
  padding: 0 40px;
  text-align: left;
}

.choose_remark {
  .choose_remark_label {
    display: inline-block;
    font-size: 28px;
    color: #333333;
  }

  .choose_remark_one {
    display: inline-block;
    margin-right: 35px;
    margin-bottom: 20px;

    .choose_remark_name {
      display: inline-block;
      background: #F5F5F5;
      color: #666666;
      padding: 15px 20px;
    }

    .choose_remark_name_select {
      display: inline-block;
      background: #FFEBEB;
      color: #f52626;
      padding: 15px 20px;
    }
  }

  .choose_remark_text_area {
    position: relative;
    height: 150px;

    .choose_remark_text_input {
      overflow-y: auto;
      border: none;
      outline: medium;
      background-color: #F5F5F5;
      color: #666666;
      resize: none;

      padding: 10px;
      width: 100%;
      height: 100%;
    }
  }
}

.order_taste_note {
  background: white;

  .order_taste_note_label {
    margin-top: 35px;
    margin-left: 35px;
  }
}
