.new_logo_radius_image {
  background-image: url("/img/c/reserve/reserve_new.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 140px;
  height: 140px;
}

.success_logo_radius_image {
  background-image: url("/img/c/reserve/reserve_success.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 140px;
  height: 140px;
}

.failed_logo_radius_image {
  background-image: url("/img/c/reserve/reserve_failed.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 140px;
  height: 140px;
}

.reserve_process {
  background: white;
  margin-top: 20px;
  padding-left: 40px;
  position: relative;
  padding-bottom: 20px;
  padding-top: 30px;

  .reserve_process_item {
    position: relative;
    padding-bottom: 20px;
    margin-right: 35px;

    .reserve_process_icon_ball {
      position: absolute;
      background: rgba(230, 230, 230, 0.5);
      border-radius: 50%;
      width: 10px;
      height: 10px;
      top: 10px;
    }

    .reserve_process_icon_ball_new {
      background: linear-gradient(90deg, rgba(255, 51, 68, 0.2), rgba(255, 136, 51, 0.2));
      border-radius: 50%;
      width: 24px;
      height: 24px;
      text-align: center;

      position: absolute;
      top: 10px;
      left: px2rem(-(24 - 10) / 2);
      z-index: 1;
    }

    .reserve_process_icon_ball_new_dot {
      position: absolute;
      width: 14px;
      height: 14px;
      background: linear-gradient(90deg, rgba(255, 51, 68, 1), rgba(255, 136, 51, 1));
      border-radius: 50%;
      text-align: center;

      top: px2rem(10 + 5);
      left: px2rem(-(24 - 10 - 10) / 2);
      z-index: 1;
    }

    .reserve_process_icon_line {
      position: absolute;
      background: rgba(230, 230, 230, 0.5);
      width: px2rem(1);
      margin-left: 4px;
      bottom: 0;
      height: 100%;
    }

    .reserve_process_content {
      margin-left: 30px;
      top: 0;

      .reserve_process_content_time {
        font-size: 28px;
        color: #666666;
      }

      .reserve_process_content_time_new {
        font-size: 28px;
        color: #f52626;
      }

      .reserve_process_content_name {
        color: #666666;
        margin-top: 20px;

      }

      .reserve_process_content_remark {
        color: #666666;
        margin-top: 20px;
        background: #F5F5F5;
        border-radius: 10px;
        padding: 15px;
      }
    }
  }
}

