.reserve_title {
  height: px2rem(160);
  margin-top: px2rem(40);
  text-align: center;
  background: white;
  color: #333333;
  font-size: px2rem(48);
  line-height: px2rem(160);
}

.reserve_name {
  display: inline-block;
  vertical-align: middle;
  font-size: px2rem(30);
  color: #333333;
  margin-left: px2rem(35);
  line-height: px2rem(88);
}

.reserve_sex {
  display: inline-block;
  vertical-align: middle;
  font-size: px2rem(28);
  color: #666666;
  margin-left: px2rem(5);
  line-height: px2rem(88);
}

.reserve_status {
  float: right;
  display: inline-block;
  margin-right: px2rem(30);
  line-height: px2rem(90);
  font-size: px2rem(28);
}

.reserve_status_arrived {
  color: #3598fe;
}

.reserve_status_accept {
  color: #00b16d;
}

.reserve_status_refuse {
  color: #f42326;
}

.reserve_status_wating {
  color: #fe9424;
}

.reserve_status_cancel {
  color: rgba(230, 230, 230, 0.5);
}

.reserve_info {
  position: relative;
  background: white;
  height: px2rem(180);
  text-align: center;

  .reserve_info_left {
    position: absolute;
    left: px2rem(35);
    text-align: left;

    top: 50%;
    transform: translate(0, -50%);

    .reserve_info_label {
      color: #333333;
      font-size: px2rem(28);
      margin-top: px2rem(10);

      .reserve_info_label_phone {
        user-select: text;
      }
    }
  }

  .reserve_info_middle {
    position: relative;
    display: inline-block;
    width: px2rem(110);
    height: px2rem(110);
    border-radius: 50%;
    top: 50%;
    transform: translate(0, -50%);

    border: solid px2rem(1) rgba(230, 230, 230, 0.5);
    box-shadow: 0 0 px2rem(5) rgba(0, 0, 0, 0.2);

    .reserve_info_phone {
      position: relative;
      display: inline-block;
      background-image: url("/img/b/reserve/b_reserve_phone.png");
      background-repeat: no-repeat;
      background-size: 100% 100%;
      width: px2rem(60);
      height: px2rem(60);

      top: 50%;
      transform: translate(0, -50%);
    }
  }

  .reserve_info_right {
    position: absolute;
    top: 0;
    right: px2rem(40);
    width: px2rem(240);
    text-align: right;

    .reserve_info_time {
      display: inline-block;
      font-size: px2rem(80);
      color: #333333;
      line-height: px2rem(180);
    }
  }
}

.reserve_remark {
  background: white;
  padding: px2rem(10) px2rem(25);

  .reserve_remark_icon {
    display: inline-block;
    vertical-align: middle;
    background-image: url("/img/b/reserve/b_reserve_message.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: px2rem(32);
    height: px2rem(32);
  }

  .reserve_remark_label {
    color: #666666;
    margin-left: px2rem(5);
    line-height: px2rem(32);
  }
}
