.reserve_title {
  height: 160px;
  margin-top: 40px;
  text-align: center;
  background: white;
  color: #333333;
  font-size: 48px;
  line-height: 160px;
}

.reserve_name {
  display: inline-block;
  vertical-align: middle;
  font-size: 30px;
  color: #333333;
  margin-left: 35px;
  line-height: 88px;
}

.reserve_sex {
  display: inline-block;
  vertical-align: middle;
  font-size: 28px;
  color: #666666;
  margin-left: 5px;
  line-height: 88px;
}

.reserve_status {
  float: right;
  display: inline-block;
  margin-right: 30px;
  line-height: 90px;
  font-size: 28px;
}

.reserve_status_arrived {
  color: #3598fe;
}

.reserve_status_accept {
  color: #00b16d;
}

.reserve_status_refuse {
  color: #f42326;
}

.reserve_status_wating {
  color: #fe9424;
}

.reserve_status_cancel {
  color: rgba(230, 230, 230, 0.5);
}

.reserve_info {
  position: relative;
  background: white;
  height: 180px;
  text-align: center;

  .reserve_info_left {
    position: absolute;
    left: 35px;
    text-align: left;

    top: 50%;
    transform: translate(0, -50%);

    .reserve_info_label {
      color: #333333;
      font-size: 28px;
      margin-top: 10px;

      .reserve_info_label_phone {
        user-select: text;
      }
    }
  }

  .reserve_info_middle {
    position: relative;
    display: inline-block;
    width: 110px;
    height: 110px;
    border-radius: 50%;
    top: 50%;
    transform: translate(0, -50%);

    border: solid 1px rgba(230, 230, 230, 0.5);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);

    .reserve_info_phone {
      position: relative;
      display: inline-block;
      background-image: url("/img/b/reserve/b_reserve_phone.png");
      background-repeat: no-repeat;
      background-size: 100% 100%;
      width: 60px;
      height: 60px;

      top: 50%;
      transform: translate(0, -50%);
    }
  }

  .reserve_info_right {
    position: absolute;
    top: 0;
    right: 40px;
    width: 240px;
    text-align: right;

    .reserve_info_time {
      display: inline-block;
      font-size: 80px;
      color: #333333;
      line-height: 180px;
    }
  }
}

.reserve_remark {
  background: white;
  padding: 10px 25px;

  .reserve_remark_icon {
    display: inline-block;
    vertical-align: middle;
    background-image: url("/img/b/reserve/b_reserve_message.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 32px;
    height: 32px;
  }

  .reserve_remark_label {
    color: #666666;
    margin-left: 5px;
    line-height: 32px;
  }
}
