.shop_info {
  position: relative;
  background: white;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  text-align: center;

  .shop_info_logo {
    position: relative;

    .shop_logo_radius {
      width: 140px;
      height: 140px;
      border-radius: 50%;
      overflow: hidden;
      z-index: 2;
      border: solid 1px rgba(230, 230, 230, 0.5);
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);

      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;

      .shop_logo_radius_image {
        border-radius: 50%;
        width: 100%;
        height: 100%;
        overflow: hidden;
        background-size: cover;
      }
    }
  }
}

.shop_title_box {
  margin-top: 40px;
  margin-left: 35px;
  padding-right: 35px;

  .shop_title_name {
    font-size: 36px;
    color: white;
    font-weight: 400;
    height: 36px;
    text-shadow: 0 0 1px #666666;
  }

  .shop_title_detail {
    margin-top: 10px;
    color: rgba(254, 254, 254, 0.8);
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
  }
}
