.coupon_choose_none {
  position: fixed;
  bottom: 0;
  height: px2rem(96);
  width: 100%;
  line-height: px2rem(96);
  font-size: px2rem(30);
  color: #666666;
  background: white;
  text-align: center;
}