.container {
  position: fixed;
  height: 100%;
  width: 100%;
  background: white;
  overflow-y: scroll;
}

.lt {
  position: relative;
  margin-top: px2rem(120);
  text-align: center;

  .lt_logo {
    display: inline-block;
    width: px2rem(192);
    height: px2rem(192);
    background: url("/img/lt.png") no-repeat;
    background-size: 100% 100%;
  }

  .lt_label {
    margin-top: px2rem(10);
    font-size: px2rem(32);
    color: #333333;
  }
}

.login {
  padding: px2rem(0) px2rem(50);
}

.login_footer {
  .login_third_title {
    text-align: center;

    .login_third_divide {
      display: inline-block;
      vertical-align: middle;
      margin: px2rem(10) px2rem(20);
      height: px2rem(1);
      width: 15%;
      background: rgba(230, 230, 230, 0.5);
    }

    .login_third_label {
      display: inline-block;
      vertical-align: middle;
    }
  }

  .login_third_icon {
    text-align: center;
    margin: px2rem(30);

    .login_third_icon_wechat {
      display: inline-block;
      margin: px2rem(0) px2rem(45);

      background: url("/img/login/login_wechat.png") no-repeat;
      background-size: 100% 100%;
      width: px2rem(72);
      height: px2rem(72);
    }

    .login_third_icon_alipay {
      display: inline-block;
      margin: px2rem(0) px2rem(45);

      background: url("/img/login/login_alipay.png") no-repeat;
      background-size: 100% 100%;
      width: px2rem(72);
      height: px2rem(72);
    }
  }
}