.container {
  text-align: center;
  background: white;
  min-height: 100vh;
}

.lt {
  position: relative;
  text-align: center;

  .lt_logo {
    display: inline-block;
    width: 192px;
    height: 192px;
    background: url("/img/lt.png") no-repeat;
    background-size: 100% 100%;
  }

  .lt_label {
    margin-top: 30px;
    font-size: 32px;
    color: #333333;
  }
}

.login {
  position: relative;
  padding: 0 50px;

  .login_phone {
    position: relative;
    height: 90px;
    vertical-align: middle;

    .login_phone_icon {
      display: inline-block;
      vertical-align: middle;
      background-image: url("/img/login/login_phone.png");
      background-size: 100% 100%;
      width: 35px;
      height: 47px;

      margin-left: 35px;
    }

    .login_phone_input {
      display: inline-block;
      vertical-align: middle;
      margin-left: 15px;
      line-height: 90px;
      font-size: 26px;
      width: 500px;
      color: #666666;
      border: none;
      outline: medium;
      background: none;
    }
  }

  .login_sms_code_icon {
    display: inline-block;
    vertical-align: middle;
    background-image: url("/img/login/login_sms_code.png");
    background-size: 100% 100%;
    width: 43px;
    height: 45px;
  }

  .login_sms_code_input {
    margin-left: 7px;
    font-size: 26px;
    color: #666666;
    background: red;
    width: 300px;
    background: none;
  }
}

.login_third_title {
  text-align: center;

  .login_third_divide {
    display: inline-block;
    vertical-align: middle;
    margin: 10px 20px;
    height: px2rem(1);
    width: 15%;
    background: rgba(230, 230, 230, 0.5);
  }

  .login_third_label {
    display: inline-block;
    vertical-align: middle;
  }
}

.login_third_icon {
  text-align: center;
  margin: 30px;

  .login_third_icon_wechat {
    display: inline-block;
    margin: 0 15px;

    background: url("/img/login/login_wechat.png") no-repeat;
    background-size: 100% 100%;
    width: 72px;
    height: 72px;
  }

  .login_third_icon_alipay {
    display: inline-block;
    margin: 0 15px;

    background: url("/img/login/login_alipay.png") no-repeat;
    background-size: 100% 100%;
    width: 72px;
    height: 72px;
  }
}
