.container {
  position: fixed;
  height: 100%;
  width: 100%;
  background: white;
  overflow-y: scroll;
}

.lt {
  position: relative;
  margin-top: px2rem(150);
  text-align: center;

  .lt_logo {
    display: inline-block;
    width: px2rem(192);
    height: px2rem(192);
    background: url("/img/lt.png") no-repeat;
    background-size: 100% 100%;
  }

  .lt_label {
    margin-top: px2rem(30);
    font-size: px2rem(32);
    color: #333333;
  }
}

.login {
  position: relative;
  padding: px2rem(0) px2rem(50);

  .login_phone {
    position: relative;
    height: px2rem(90);
    vertical-align: middle;

    .login_phone_icon {
      display: inline-block;
      vertical-align: middle;
      background-image: url("/img/login/login_phone.png");
      background-size: 100% 100%;
      width: px2rem(35);
      height: px2rem(47);

      margin-left: px2rem(35);
    }

    .login_phone_input {
      display: inline-block;
      vertical-align: middle;
      margin-left: px2rem(15);
      line-height: px2rem(90);
      font-size: px2rem(26);
      color: #666666;
      border: none;
      outline: medium;
      background: none;
    }
  }

  .login_sms_code_icon {
    display: inline-block;
    vertical-align: middle;
    background-image: url("/img/login/login_sms_code.png");
    background-size: 100% 100%;
    width: px2rem(43);
    height: px2rem(45);
  }

  .login_sms_code_input {
    margin-left: px2rem(7);
    font-size: px2rem(26);
  }
}

.login_footer {
  .login_third_title {
    text-align: center;

    .login_third_divide {
      display: inline-block;
      vertical-align: middle;
      margin: px2rem(10) px2rem(20);
      height: px2rem(1);
      width: 15%;
      background: rgba(230, 230, 230, 0.5);
    }

    .login_third_label {
      display: inline-block;
      vertical-align: middle;
    }
  }

  .login_third_icon {
    text-align: center;
    margin: px2rem(30);

    .login_third_icon_wechat {
      display: inline-block;
      margin: px2rem(0) px2rem(45);

      background: url("/img/login/login_wechat.png") no-repeat;
      background-size: 100% 100%;
      width: px2rem(72);
      height: px2rem(72);
    }

    .login_third_icon_alipay {
      display: inline-block;
      margin: px2rem(0) px2rem(45);

      background: url("/img/login/login_alipay.png") no-repeat;
      background-size: 100% 100%;
      width: px2rem(72);
      height: px2rem(72);
    }
  }
}