.list_role_icon {
  display: inline-block;
  vertical-align: middle;
  width: px2rem(40);
  height: px2rem(40);
  margin-left: px2rem(35);
}

.list_admin_icon {
  background-image: url("/img/b/role/b_role_admin.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: px2rem(40);
  height: px2rem(40);
}

.list_cashier_icon {
  background-image: url("/img/b/role/b_role_cashier.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: px2rem(40);
  height: px2rem(40);
}

.list_cooker_icon {
  background-image: url("/img/b/role/b_role_cooker.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: px2rem(40);
  height: px2rem(40);
}

.list_waiter_icon {
  background-image: url("/img/b/role/b_role_waiter.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: px2rem(40);
  height: px2rem(40);
}

.list_item_add {
  background-image: url("/img/b/role/b_role_add.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: px2rem(44);
  height: px2rem(44);
  float: right;
  margin-top: px2rem((88 - 44) / 2);
  margin-right: px2rem(35);
}

.list_item_add_captcha {
  background-image: url("/img/b/nav/role/b_nav_role_captcha.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: px2rem(44);
  height: px2rem(44);
  float: right;
  margin-top: px2rem((88 - 44) / 2);
  margin-right: px2rem(20);
  opacity: 0.6;
}

.role_user {
  background: white;

  .no_role_user {
    position: relative;
    text-align: center;
    height: px2rem(50);
    line-height: px2rem(50);
    color: #999999;
  }

  .role_user_list {
    padding: px2rem(20) px2rem(30);

    .role_user_item {
      display: inline-block;
      width: 33%;
      text-align: center;

      .role_user_one {
        position: relative;
        display: inline-block;
        background: #F5F5F5;
        width: 80%;
        height: px2rem(68);
        margin-bottom: px2rem(20);

        .role_user_one_label {
          color: #666666;
          font-size: px2rem(28);
          line-height: px2rem(68);
        }
      }
    }
  }
}

