.wall_user_info {
  text-align: center;
  height: px2rem(40);
  padding-top: px2rem(95);

  .wall_user_info_nick {
    display: inline-block;
    vertical-align: middle;
    color: #333333;
    font-size: px2rem(32);
    line-height: px2rem(40);
    text-align: center;
  }

  .user_info_edit {
    display: inline-block;
    vertical-align: middle;
    margin-left: px2rem(5);
    background-image: url("/img/c/me/me_edit.png");
    background-size: 100% 100%;
    height: px2rem(28);
    width: px2rem(28);
    line-height: px2rem(40);
  }
}

.user_phone {
  text-align: center;
  margin-top: px2rem(50);

  .user_phone_label {
    color: #666666;
    display: inline-block;
  }

  .user_phone_unbind {
    color: #f52626;
    display: inline-block;
  }
}

.copyright {
  position: relative;
  text-align: center;
  color: #999999;
  margin-top: px2rem(60);
  font-size: px2rem(28);
}
