.wall_user_info {
  text-align: center;
  height: 40px;
  padding-top: 95px;

  .wall_user_info_nick {
    display: inline-block;
    vertical-align: middle;
    color: #333333;
    font-size: 32px;
    height: 40px;
    line-height: 40px;
    text-align: center;
  }

  .user_info_edit {
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
    background-image: url("/img/c/me/me_edit.png");
    background-size: 100% 100%;
    height: 28px;
    width: 28px;
    line-height: 40px;
  }
}

.user_phone {
  text-align: center;
  margin-top: 50px;

  .user_phone_label {
    color: #666666;
    display: inline-block;
  }

  .user_phone_unbind {
    color: #f52626;
    display: inline-block;
  }
}

.copyright {
  position: relative;
  text-align: center;
  color: #999999;
  margin-top: 60px;
  font-size: 28px;
}
