.group_mode {
  position: relative;
  display: inline-block;
  float: right;
  line-height: px2rem(110);
  margin-right: px2rem(30);

  .group_mode_icon {
    display: inline-block;
    vertical-align: middle;
    background-size: 100% 100%;
    width: px2rem(28);
    height: px2rem(28);
  }

  .group_mode_label {
    display: inline-block;
    vertical-align: middle;
    font-size: px2rem(24);
    color: #666666;
    margin-left: px2rem(5);
  }
}

.food_big {
  position: relative;
  margin-left: px2rem(10);
  margin-right: px2rem(10);
}

.food_info_big_box {
  margin-left: px2rem(30);
}

.food_image_big_box {
  position: relative;
  max-height: px2rem(400);
  min-height: px2rem(200);
  width: 100%;
  border-radius: px2rem(10);
  box-shadow: 0 0 px2rem(20) 0 rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
