.top_blank {
  height: 180px;
}

.food_group {
  background: white;
  margin-bottom: 120px;

  .group_box_name {
    font-size: 36px;
    text-align: center;
    padding: 25px;
  }
}

.shop_logo_radius_center {
  margin-top: -75px;
}

.shop_short_id {
  margin: 20px 35px;
}

.shop_title {
  position: relative;
  padding-top: 100px;

  .shop_title_name {
    display: inline-block;
    vertical-align: top;
    font-size: 30px;
    height: 30px;
    line-height: 30px;
  }
}

.shop_role {
  position: relative;
  text-align: center;

  .shop_role_one {
    display: inline-block;
    width: 20%;
    height: 100px;
    margin-top: 10px;
    margin-bottom: 20px;

    .shop_role_one_logo {
      display: inline-block;
      width: 64px;
      height: 64px;
    }

    .shop_role_one_label {
      margin-top: 5px;
    }
  }
}

.shop_divide {
  height: 150px;
}

.shop_create {
  margin-top: 80px;
  margin-bottom: 30px;
  text-align: center;

  .shop_create_button {
    color: #999999;
    font-size: 28px;
  }
}
