.wall_top {
  margin-top: 0 !important;
}

.wall_message_reply_more {
  position: relative;
  margin-top: 10px;

  .wall_message_one {
    display: inline-block;
    vertical-align: middle;
    margin-left: 25px;

    .wall_message_icon {
      display: inline-block;
      vertical-align: middle;
      margin-left: 10px;
      width: 32px;
      height: 32px;
    }

    .wall_message_label {
      display: inline-block;
      vertical-align: middle;
      color: #999999;
      line-height: 32px;
      margin-left: 7px;
    }
  }

  .wall_message_order_menu {
    display: inline-block;
    vertical-align: middle;
    margin-right: 25px;
    float: right;

    .wall_message_order_menu_icon {
      display: inline-block;
      vertical-align: middle;
      background-image: url("/img/c/wall/wall_menu.png");
      background-repeat: no-repeat;
      background-size: 100% 100%;
      height: 32px;
      width: 32px;
    }

    .wall_message_order_menu_label {
      display: inline-block;
      margin-right: 5px;
    }
  }
}

.wall_message_menu {
  float: right;
  line-height: 32px;

  .wall_order_menu_icon {
    display: inline-block;
    vertical-align: middle;
    background-image: url("/img/c/wall/wall_menu.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 32px;
    width: 32px;
  }

  .wall_order_menu_label {
    display: inline-block;
    margin-right: 5px;
  }
}

.wall_user_reply_content {
  margin-left: px2rem(80 + 20);
  margin-top: 20px;
  margin-bottom: 30px;
  color: #666666;
}

.wall_reply_footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 100px;
  background: white;
  border-top: solid px2rem(1) rgba(230, 230, 230, 0.5);

  .wall_reply_content {
    border-radius: px2rem(70 / 2);
    background: #F0F1F2;
    height: 70px;

    right: 110px;
    left: 20px;

    position: absolute;
    top: 50%;
    transform: translate(0, -50%);

    .wall_reply_input {
      padding: 0 25px;
      color: #666666;
      line-height: 70px;
      width: 100%;
      border: none;
      outline: medium;
      background: none;
    }
  }

  .wall_reply_button {
    float: right;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    color: #f52626;
    font-size: 28px;
    width: 110px;
    line-height: 100px;
  }
}

.wall_reply_empty {
  text-align: center;
  margin: 50px;
  color: #999999;
}
