.reserve_reply_choice {
  margin: 0 25px;
  position: relative;

  .reserve_reply_choice_select {
    display: inline-block;
    background: #FCECEC;
    color: #EF4B46;
    width: 200px;
    height: 64px;
    line-height: 64px;
    margin: 0 10px;
  }

  .reserve_reply_choice_unselect {
    display: inline-block;
    background: #F5F5F5;
    color: #666666;
    width: 200px;
    height: 64px;
    line-height: 64px;
    margin: 0 10px;
  }
}

.reserve_table {

  .reserve_table_label {
    display: inline-block;
  }

  .reserve_table_number {
    display: inline-block;

  }
}

.reserve_remark_text_area {
  margin: 0 25px;
  height: 200px;

  .reserve_remark_text_input {
    overflow-y: auto;
    border: none;
    outline: medium;
    background-color: #F5F5F5;
    color: #666666;

    padding: 10px;
    width: 100%;
    height: 100%;
  }
}
