.coupon_header {
  background: white;
  margin-top: 20px;
}

.coupon_box {
  position: relative;
  height: 140px;

  .coupon_box_left {
    padding-left: 35px;

    .coupon_type_title {
      font-size: 32px;
      color: #333333;
      padding-top: 30px;
      font-weight: 400;
    }

    .coupon_type_name {
      font-size: 24px;
      color: #666666;
      margin-top: 10px;
    }
  }

  .coupon_box_right {
    position: absolute;
    width: 50%;
    right: 0;
    top: 0;
    text-align: right;
    padding-right: 35px;

    .coupon_deduct_price {
      color: #f52626;
      font-size: 54px;
      font-weight: 400;
      margin-top: 20px;
    }

    .coupon_deduct_price:before {
      content: "￥";
      font-size: 30px;
      color: #f52626;
    }

    .coupon_charge_price {
      color: #666666;
      font-size: 22px;
      margin-top: 5px;
    }
  }
}

.coupon_footer {
  background: white;
}
