#image-upload {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: px2rem(134);
  height: px2rem(80);
}

.image_upload_button {
  background-image: url("/img/common/addition/addition_item_image.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: px2rem(134);
  height: px2rem(80);
}

.image_upload_image_box {
  position: absolute;
  right: 0;
  top: 0;
  width: px2rem(134);
  height: px2rem(80);
  overflow: hidden;
  text-align: center;
}

.image_upload_image {
  display: inline-block;
  background: white;
  height: 100%;
  width: auto;
}