.title_bar {
  position: relative;
  height: 88px;
  background: transparent;
  text-align: center;
  z-index: 1;

  .title_bar_title {
    color: white;
    font-size: 32px;
    line-height: 88px;
    text-shadow: 0 0 1px #666666;
  }

  .title_bar_title_black {
    color: #666666 !important;
    text-shadow: 0 0 1px white !important;
  }

  .title_bar_back {
    position: absolute;
    width: 88px;
    height: 100%;

    .title_bar_back {
      background-image: url("/img/common/title_bar_back_white.png");
      background-repeat: no-repeat;
      background-size: 100% 100%;
      width: 88px;
      height: 88px;
      position: absolute;
      top: 50%;
      transform: translate(0, -50%);
    }

    .title_bar_back_black {
      background-image: url("/img/common/title_bar_back_black.png") !important;
    }
  }
}

.image_box {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  background-size: 100% auto;
  background-repeat: repeat-y;
}

.image_white {
  background: white;
  border-bottom: solid 1px rgba(230, 230, 230, 0.5);
}

.image_height_220 {
  height: 220px;
}

.image_height_300 {
  height: 300px;
}

.image_height_330 {
  height: 330px;
}

.image_height_460 {
  height: 460px;
}

.image_height_900 {
  height: 900px;
}

.image_height_220_no_title_bar {
  height: px2rem(220 - 88);
}

.image_height_300_no_title_bar {
  height: px2rem(300 - 88);
}

.image_height_330_no_title_bar {
  height: px2rem(330 - 88);
}

.image_height_460_no_title_bar {
  height: px2rem(460 - 88);
}

.image_height_900_no_title_bar {
  height: px2rem(900 - 88);
}
