.title_bar {
  position: relative;
  height: px2rem(88);
  background: transparent;
  text-align: center;
  z-index: 1;

  .title_bar_title {
    color: white;
    font-size: px2rem(32);
    line-height: px2rem(88);
    text-shadow: #666666 0 0 1px;
  }

  .title_bar_title_black {
    color: #666666 !important;
    text-shadow: white 0 0 1px !important;
  }

  .title_bar_back {
    position: absolute;
    width: px2rem(88);
    height: 100%;

    .title_bar_back {
      background-image: url("/img/common/title_bar_back_white.png");
      background-repeat: no-repeat;
      background-size: 100% 100%;
      width: px2rem(88);
      height: px2rem(88);
      position: absolute;
      top: 50%;
      transform: translate(0, -50%);
    }

    .title_bar_back_black {
      background-image: url("/img/common/title_bar_back_black.png") !important;
    }
  }
}

.image_box {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  overflow: hidden;
}

.image {
  width: 100%;
  height: auto;

  -webkit-filter: blur(1px);
  filter: blur(1px);
}

.image_white {
  background: white;
  border-bottom: solid px2rem(1) rgba(230, 230, 230, 0.5);
}

.image_height_220 {
  height: px2rem(220);
}

.image_height_300 {
  height: px2rem(300);
}

.image_height_330 {
  height: px2rem(330);
}

.image_height_460 {
  height: px2rem(460);
}

.image_height_900 {
  height: px2rem(900);
}

.image_height_220_no_title_bar {
  height: px2rem(220 - 88);
}

.image_height_300_no_title_bar {
  height: px2rem(300 - 88);
}

.image_height_330_no_title_bar {
  height: px2rem(330 - 88);
}

.image_height_460_no_title_bar {
  height: px2rem(460 - 88);
}

.image_height_900_no_title_bar {
  height: px2rem(900 - 88);
}
