.order_food {
  position: relative;
  background: white;
  padding: 0 35px;

  .order_food_one {
    height: 90px;

    .order_food_name {
      display: inline-block;
      vertical-align: middle;
      height: 90px;
      line-height: 90px;
      color: #666666;
      font-size: 28px;
    }

    .order_food_down {
      float: right;
      display: inline-block;
      background-image: url("/img/common/order_down.png");
      background-repeat: no-repeat;
      background-size: 100% 100%;
      width: 32px;
      height: 32px;
      margin-top: px2rem((90 - 32) / 2);
      margin-left: 30px;
    }

    .order_food_up {
      float: right;
      display: inline-block;
      background-image: url("/img/common/order_up.png");
      background-repeat: no-repeat;
      background-size: 100% 100%;
      width: 32px;
      height: 32px;
      margin-top: px2rem((90 - 32) / 2);
    }
  }
}
