.scroller_order {
  margin-top: 430px !important;
}

.order_history_footer_mix {
  background: white;
  height: 80px;
}

.order_history_detail_mix {
  background: linear-gradient(90deg, rgba(255, 51, 68, 1), rgba(255, 136, 51, 1)) !important;
  box-shadow: 0 0 5px rgba(255, 65, 65, 0.2) !important;
  color: white !important;
}
