.order_food_count_2 {
  right: px2rem(130 + 80 + 100) !important;
}

.order_food_price_2 {
  right: px2rem(30 + 80 + 100) !important;
}

.order_food_button {
  position: absolute;
  text-align: center;
  vertical-align: middle;
  right: px2rem(40);
  top: 50%;
  transform: translate(0, -50%);

  width: px2rem(120);
  height: px2rem(48);
  border-radius: px2rem(24);

  font-size: px2rem(26);
  font-weight: 500;
  color: rgba(255, 255, 255, 1);
  line-height: px2rem(48);
}

.order_food_button_finish {
  background: linear-gradient(90deg, rgba(255, 51, 68, 1), rgba(255, 136, 51, 1)) !important;
  box-shadow: 0 0 px2rem(18) 0 rgba(255, 65, 65, 0.2) !important;
}

.order_food_button_cooking {
  background: linear-gradient(90deg, rgba(55, 209, 133, 1), rgba(51, 217, 173, 1)) !important;
  box-shadow: 0 0 px2rem(18) 0 rgba(54, 211, 142, 0.2) !important;
}

.order_food_button_cooked {
  background: linear-gradient(90deg, rgba(206, 107, 254, 1), rgba(244, 123, 251, 1)) !important;
  box-shadow: 0 0 px2rem(18) 0 rgba(215, 111, 253, 0.2) !important;
}

.order_food_button_return {
  background: linear-gradient(90deg, rgba(246, 88, 132, 1), rgba(242, 100, 109, 1)) !important;
  box-shadow: 0 0 px2rem(18) 0 rgba(245, 91, 126, 0.2) !important;
}

.order_operator {
  height: px2rem(200);
  position: relative;
  text-align: center;

  .order_operator_one {
    position: relative;
    display: inline-block;
    text-align: center;
    width: 25%;
    float: left;

    top: 50%;
    transform: translate(0, -50%);
  }

  .order_operator_status {
    position: relative;

    .order_operator_line_left {
      position: absolute;
      top: 50%;
      right: 50%;
      transform: translate(0, -50%);

      width: 50%;
      background: rgba(204, 204, 204, 1);
      height: px2rem(2);
    }

    .order_operator_line_right {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(0, -50%);

      width: 50%;
      background: rgba(204, 204, 204, 1);
      height: px2rem(2);
    }

    .order_operator_ball {
      position: absolute;
      top: 50%;
      transform: translate(0, -50%);
      width: px2rem(25);
      height: px2rem(25);
      border-radius: 50%;
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto;
    }

    .order_operator_ball_wait {
      background: rgba(204, 204, 204, 0.2);
    }

    .order_operator_ball_cooking {
      background: rgba(55, 209, 133, 0.2);
    }

    .order_operator_ball_cooked {
      background: rgba(206, 107, 254, 0.2);
    }

    .order_operator_ball_finish {
      background: rgba(255, 51, 68, 0.2);
    }

    .order_operator_ball_dot {
      display: inline-block;
      width: px2rem(15);
      height: px2rem(15);
      background: rgba(204, 204, 204, 1);
      border-radius: 50%;

      top: 50%;
      transform: translate(0, -50%);
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto;
    }

    .order_operator_ball_dot_wait {
      background: rgba(204, 204, 204, 1);
    }

    .order_operator_ball_dot_cooking {
      background: rgba(55, 209, 133, 1);
    }

    .order_operator_ball_dot_cooked {
      background: rgba(206, 107, 254, 1);
    }

    .order_operator_ball_dot_finish {
      background: rgba(255, 51, 68, 1);
    }
  }

  .order_operator_label {
    color: #999999;
  }

  .order_operator_label_time {
    color: #999999;
    font-size: px2rem(24);
    height: px2rem(24);
    margin-top: px2rem(5);
  }

  .order_operator_label_wait {
    color: #666666;
    font-weight: bold;
  }

  .order_operator_label_cooking {
    color: #37D28A;
    font-weight: bold;
  }

  .order_operator_label_cooked {
    color: #D46FFE;
    font-weight: bold;
  }

  .order_operator_label_finish {
    color: #F52626;
    font-weight: bold;
  }
}

.order_taste_note {
  background: white;

  .order_taste_note_label {
    margin-left: px2rem(35);
  }
}

.return {
  position: relative;
  padding: px2rem(0) px2rem(40);
  text-align: left;

  .return_food {

    .return_food_label {
      display: inline-block;
      font-size: px2rem(28);
      font-weight: 400;
      color: #333333;
    }

    .return_food_count {
      display: inline-block;
      color: #F52626;
      font-size: px2rem(28);
      font-weight: 400;
      float: right;
    }
  }

  .return_count {

    .return_count_label {
      display: inline-block;
      font-size: px2rem(28);
      color: #333333;
    }

    .return_count_option {
      position: relative;
      display: inline-block;
      color: #F52626;
      float: right;


    }
  }

  .return_remark {
    .return_remark_label {
      display: inline-block;
      font-size: px2rem(28);
      color: #333333;
    }

    .return_remark_one {
      display: inline-block;
      margin-right: px2rem(20);

      .return_remark_name {
        display: inline-block;
        background: #F5F5F5;
        color: #666666;
        padding: px2rem(15) px2rem(20);
      }

      .return_remark_name_select {
        display: inline-block;
        background: #FFEBEB;
        color: #f52626;
        padding: px2rem(15) px2rem(20);
      }
    }

    .return_remark_text_area {
      position: relative;
      height: px2rem(150);

      .return_remark_text_input {
        overflow-y: scroll;
        border: none;
        outline: medium;
        background-color: #F5F5F5;
        color: #666666;

        padding: px2rem(10);
        width: 100%;
        height: 100%;
      }
    }
  }
}

.change_price_label {
  display: inline-block;
  margin-left: px2rem(35);
  font-size: px2rem(28);
}

.change_price_input {
  display: inline-block;
  //float: right;
  margin-right: px2rem(35);
  color: #666666;
  text-align: right;
  width: 70%;
  border: none;
  outline: medium;
  background: none;
}