.scroller_order {
  margin-top: 430px !important;
}

.order_history_delete {
  background-image: url("/img/common/delete.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 28px;
  height: 30px;

  position: absolute;
  right: 30px;
  top: px2rem((90 - 28 + 6) / 2)
}

.order_history_status_delete {
  margin-right: px2rem(30 + 20 + 28) !important;
}

.list_order_deleted {
  color: rgba(221, 221, 221, 1);
  text-decoration: line-through !important;
}

.order_history_footer_mix {
  background: white;
  height: 80px;
}

.order_history_detail_mix {
  background: linear-gradient(90deg, rgba(255, 51, 68, 1), rgba(255, 136, 51, 1)) !important;
  box-shadow: 0 0 5px rgba(255, 65, 65, 0.2) !important;
  color: white !important;
}
