.queue_history_status {
  float: right;
  display: inline-block;
  vertical-align: middle;
  margin-right: 30px;
  font-size: 28px;
  height: 102px;
  line-height: 102px;
}

.queue_history_status_wait {
  color: #f52626;
}

.queue_history_status_now {
  color: #3ed195;
}

.queue_history_status_expired {
  color: #999999;
}

.queue_history_status_cancel {
  color: #bbbbbb;
}

.queue_history {
  position: relative;
  background: white;
}

.queue_history_food {
  position: relative;
  height: 70px;

  .queue_history_food_label {
    display: inline-block;
    vertical-align: middle;
    margin-left: 30px;
    height: 70px;
    line-height: 70px;
    color: #666666;
  }

  .queue_history_food_content {
    display: inline-block;
    vertical-align: middle;
    font-size: 28px;
    margin-left: 10px;
    height: 70px;
    line-height: 70px;
    color: #333333;
  }
}

.queue_history_price {
  position: relative;
  height: 70px;

  .queue_history_price_label {
    display: inline-block;
    vertical-align: middle;
    margin-left: 30px;
    height: 70px;
    line-height: 70px;
    color: #666666;
  }

  .queue_history_price_content {
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
    height: 70px;
    line-height: 70px;
    font-size: 28px;
    color: #f52626;
  }
}
