.blank_5 {
  height: px2rem(5);
}

.blank_10 {
  height: px2rem(10);
}

.blank_20 {
  height: px2rem(20);
}

.blank_30 {
  height: px2rem(30);
}

.blank_40 {
  height: px2rem(40);
}

.blank_50 {
  height: px2rem(50);
}

.blank_100 {
  height: px2rem(100);
}
