.blank_5 {
  height: 5px;
}

.blank_10 {
  height: 10px;
}

.blank_20 {
  height: 20px;
}

.blank_30 {
  height: 30px;
}

.blank_40 {
  height: 40px;
}

.blank_50 {
  height: 50px;
}

.blank_100 {
  height: 100px;
}
