.box {
  position: relative;
  margin-left: 25px;
  margin-right: 25px;
  background: transparent;

  .box_divide_radius {
    height: 24px;
    background: radial-gradient(circle at right, transparent 12px, white 0) right, radial-gradient(circle at left, transparent 12px, white 0) left;
    background-repeat: no-repeat;
    background-size: 50% 100%;
    position: relative;
    z-index: 1;

    .box_divide_radius_line {
      height: 1px;
      background: rgba(230, 230, 230, 0.5);
      left: 20px;
      right: 20px;
      position: absolute;
      top: 50%;
      transform: translate(0, -50%);
    }
  }

  .box_radius_header {
    border-radius: 10px 10px 0 0;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }

  .box_radius_footer {
    border-radius: 0 0 10px 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  }
}

.box_radius {
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.box_divide {
  margin: 10px 20px;
  height: 1px;
  background: rgba(230, 230, 230, 0.5);
}
