.badge_delete {
  position: absolute;
  background-image: url("/img/common/badge_delete.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border-radius: 50%;
  width: 32px;
  height: 32px;

  top: -16px;
  right: -16px;

  z-index: 2;
}
