.badge_delete {
  position: absolute;
  background-image: url("/img/common/badge_delete.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border-radius: 50%;
  width: px2rem(32);
  height: px2rem(32);

  top: px2rem(-16);
  right: px2rem(-16);

  z-index: 2;
}
