.empty {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: white;
  top: 0;
  left: 0;
  text-align: center;
  overflow-y: auto;
  padding-top: 35%;
}

.empty_center {
  text-align: center;
}

.empty_image {
  display: inline-block;
  width: px2rem(320);
  height: px2rem(320);
}

.empty_label {
  margin-top: px2rem(10);
  padding: 0 px2rem(35);
  font-size: px2rem(30);
  color: #333333;
}

.empty_label_tip {
  margin-top: px2rem(20);
  font-size: px2rem(26);
  padding: 0 px2rem(35);
  font-weight: 400;
  color: #999999;

  .empty_label_tip_link {
    color: #F52626;
    cursor: pointer;
  }
}
