.empty {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: white;
  top: 0;
  left: 0;
  text-align: center;
  overflow-y: auto;
  padding-top: 35%;
}

.empty_center {
  text-align: center;
}

.empty_image {
  display: inline-block;
  width: 320px;
  height: 320px;
}

.empty_label {
  margin-top: 10px;
  padding: 0 35px;
  font-size: 30px;
  color: #666666;
}

.empty_label_tip {
  margin-top: 50px;
  font-size: 26px;
  padding: 0 35px;
  font-weight: 400;
  color: #999999;
}

.empty_label_tip_link {
  color: #F52626;
  cursor: pointer;
}
