.list_title {
  position: relative;
  margin-top: 30px;
  background: white;
  height: 88px;
  padding-top: px2rem(12 / 2);

  .list_time_icon {
    display: inline-block;
    vertical-align: middle;
    background-image: url("/img/common/time.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 28px;
    height: 28px;
    margin-left: 35px;
  }

  .list_time_label {
    display: inline-block;
    vertical-align: middle;
    font-size: 28px;
    margin-left: 5px;
    height: 88px;
    line-height: 88px;
    font-weight: 400;
  }

  .list_title_label {
    display: inline-block;
    vertical-align: middle;
    font-size: 28px;
    margin-left: px2rem(5 + 35);
    height: 88px;
    line-height: 88px;
    font-weight: 400;
  }
}
