.modal_center {
  position: fixed;
  background: white;
  text-align: center;
  top: 50%;
  transform: translate(0, -50%);
  left: 100px;
  right: 100px;
  border-radius: 10px;
  z-index: 11 + 1;
}

.modal_bottom {
  position: fixed;
  background: white;
  width: 100%;
  bottom: 0;
  z-index: 11 + 1;
}

.modal_close_box {
  position: absolute;
  width: 88px;
  height: 88px;
  top: 0;
  right: 0;

  .modal_close {
    width: 26px;
    height: 26px;
    left: px2rem((88 - 26) / 2);

    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
  }
}

.modal_title {
  font-size: 32px;
  line-height: 88px;
  color: #333333;
  text-align: center;
}

.modal_content {
  text-align: left;
  padding: 10px 35px;
  max-height: 600px;
  overflow-y: auto;
  color: #666666;
  word-wrap: break-word;
  font-size: 26px;
  line-height: 36px;
}

.modal_button_box {
  clear: both;
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
}

.modal_input_box {
  position: relative;
  margin: 30px 35px;
  height: 88px;
  border: solid px2rem(1) rgba(230, 230, 230, 0.5);
  border-radius: 10px;
  text-align: center;

  .modal_input_area {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0 15px;

    .modal_input {
      width: 100%;
      border: none;
      outline: medium;
      color: #666666;
      font-size: 28px;
      text-align: center;
    }
  }
}

.modal_menu {
  text-align: center;
  height: 102px;
  line-height: 102px;
  font-size: 30px;
  color: #666666;
  border: solid px2rem(1) #999999;
  border-radius: 10px;
  margin: 25px 115px;
}

.modal_menu_select {
  color: #f52626;
  border: solid px2rem(1) #f52626;
}

.modal_menu_disable {
  color: #999999;
  border: solid px2rem(1) #999999;
}
