.status {
  position: relative;
  margin-top: px2rem(140 / 2);
  background: white;

  .status_logo_radius {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    overflow: hidden;
    z-index: 2;
    border: solid px2rem(1) rgba(230, 230, 230, 0.5);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;

    .status_logo_radius_image {
      border-radius: 50%;
      width: 100%;
      height: 100%;
      overflow: hidden;
      background-size: cover;
    }
  }

  .status_logo_radius_center {
    margin-top: -70px;
  }

  .status_title {
    color: #f52626;
    font-size: 35px;
    text-align: center;
    padding-top: 95px;
  }

  .status_detail {
    color: #999999;
    text-align: center;
    margin-top: 10px;
  }

  .status_item {
    position: relative;
    height: 60px;
  }

  .status_item_label {
    font-size: 28px;
    margin-left: 35px;
    height: 60px;
    line-height: 60px;
    color: #333333;
  }

  .status_item_content {
    position: absolute;
    right: 35px;
    top: 0;
    color: #666666;
    height: 60px;
    line-height: 60px;
    text-decoration: none;
  }
}
