.tip {
  background: #fffaec;
  border-radius: 20px;
  color: #666666;
  line-height: 50px;
  padding: 25px;
  margin-top: 20px;
  margin-bottom: 20px;

  .tip_ul {
    margin: 0;
    text-align: left;
    padding-left: 25px;
  }
}

.tip_link, .tip_link:visited, .tip_link:hover {
  color: #F52626;
  text-decoration: none;
  cursor: pointer;
}

.tip_highlight {
  color: #F52626;
  text-decoration: none;
}
