.tip {
  background: #fffaec;
  border-radius: px2rem(20);
  color: #666666;
  line-height: px2rem(50);
  padding: px2rem(25);
  margin-top: px2rem(30);

  .tip_ul {
    margin: 0;
    padding-left: px2rem(25);
  }
}

.tip_link, .tip_link:visited, .tip_link:hover {
  color: #F52626;
  text-decoration: none;
  cursor: pointer;
}