.shop_name {
  display: inline-block;
  vertical-align: middle;
  font-size: px2rem(30);
  color: #333333;
  margin-left: px2rem(35);
  line-height: px2rem(88);
}

.shop_license {
  position: relative;
  float: right;
  text-align: center;
  margin-right: px2rem(35);

  top: 50%;
  transform: translate(0, -50%);
}

.shop_detail {
  position: relative;
  background: white;

  .shop_detail_one {
    position: relative;
    height: px2rem(70);
  }

  .shop_detail_left {
    display: inline-block;
    vertical-align: middle;
    line-height: px2rem(70);
    margin-left: px2rem(35);
  }

  .shop_detail_sms {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin-left: px2rem(10);
    text-align: center;

    width: px2rem(120);
    height: px2rem(58);
    line-height: px2rem(58);
    border: px2rem(1) solid rgba(230, 230, 230, 0.5);
    border-radius: px2rem(58/2);
  }

  .shop_detail_expired_at {
    float: right;
    line-height: px2rem(70);
    margin-right: px2rem(35);
  }

  .shop_license_history {
    margin-right: px2rem(30);
    line-height: px2rem(58);
    text-align: center;

    width: px2rem(168);
    height: px2rem(58);
    border: px2rem(1) solid rgba(230, 230, 230, 0.5);
    border-radius: px2rem(58/2);

    right: 0;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
  }
}

.shop_license_one {
}

.shop_license_plan {
  background: white;
  border-radius: px2rem(10);
  position: relative;
  margin-left: px2rem(80);
  margin-right: px2rem(80);
  text-align: center;

  .shop_license_type {
    position: relative;
    height: px2rem(88);

    .shop_license_icon {
      display: inline-block;
      vertical-align: middle;
      background-size: 100% 100%;
      width: px2rem(61);
      height: px2rem(61);
    }

    .shop_license_label {
      display: inline-block;
      vertical-align: middle;
      font-size: px2rem(34);
      font-weight: 400;;
      line-height: px2rem(88);
      margin-left: px2rem(5);
    }
  }

  .shop_license_label_free {
    color: #FF6B6C !important;
  }

  .shop_license_label_normal {
    color: #59A7FE !important;
  }

  .shop_license_label_senior {
    color: #8E58FF !important;
  }

  .shop_license_price {
    font-weight: 400;
  }

  .shop_license_price_free {
    text-decoration: line-through;
  }

  .shop_feature {
    display: inline-block;
  }

  .shop_feature_one {
    position: relative;
    margin-top: px2rem(15);
    margin-bottom: px2rem(15);
    text-align: left;
    height: px2rem(26);
    width: 100%;

    .shop_feature_one_icon {
      display: inline-block;
      vertical-align: middle;

      background-size: 100% 100%;
      width: px2rem(24);
      height: px2rem(24);

      line-height: px2rem(26);
      margin-top: px2rem((26 - 24) / 2);
    }

    .shop_feature_one_label {
      display: inline-block;
      vertical-align: middle;
      margin-left: px2rem(10);
      font-size: px2rem(26);
    }

    .shop_feature_one_label_star {
      height: px2rem(26);
      color: white;
      border-radius: px2rem(4);
      font-size: px2rem(20);
      line-height: px2rem(26);
      margin-left: px2rem(5);
      padding: 0 px2rem(10);
      background: linear-gradient(90deg, rgba(255, 207, 76, 1), rgba(255, 166, 102, 1));
    }
  }

  .shop_license_button {
    height: px2rem(88);
    border-radius: 0 0 px2rem(10) px2rem(10);
    color: white;
    font-size: px2rem(28);
    line-height: px2rem(88);
    text-align: center;
  }

  .shop_license_button_free {
    background: rgba(221, 221, 221, 1);
  }

  .shop_license_button_normal {
    background: linear-gradient(90deg, rgba(255, 51, 68, 1), rgba(255, 136, 51, 1));
  }

  .shop_license_button_senior {
    background: linear-gradient(90deg, rgba(255, 51, 68, 1), rgba(255, 136, 51, 1));
  }
}

.charge_year_tip {
  color: white;
  border-radius: px2rem(5);
  padding: 0 px2rem(10);
}