.shop_name {
  display: inline-block;
  vertical-align: middle;
  font-size: 30px;
  color: #333333;
  margin-left: 35px;
  height: 88px;
  line-height: 88px;
}

.shop_license {
  position: relative;
  float: right;
  text-align: center;
  margin-right: 35px;

  top: 50%;
  transform: translate(0, -50%);
}

.shop_detail {
  position: relative;
  background: white;

  .shop_detail_one {
    position: relative;
    height: 70px;
  }

  .shop_detail_left {
    display: inline-block;
    vertical-align: middle;
    height: 70px;
    line-height: 70px;
    margin-left: 35px;
  }

  .shop_detail_sms {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
    text-align: center;

    width: 120px;
    height: 58px;
    line-height: 58px;
    border: px2rem(1) solid rgba(230, 230, 230, 0.5);
    border-radius: px2rem(58 / 2);
  }

  .shop_detail_expired_at {
    float: right;
    height: 70px;
    line-height: 70px;
    margin-right: 35px;
  }

  .shop_license_history {
    margin-right: 30px;
    line-height: 58px;
    text-align: center;

    width: 168px;
    height: 58px;
    border: px2rem(1) solid rgba(230, 230, 230, 0.5);
    border-radius: px2rem(58 / 2);

    right: 0;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
  }
}

.shop_license_one {
}

.shop_license_plan {
  background: white;
  border-radius: 10px;
  position: relative;
  margin-left: 80px;
  margin-right: 80px;
  text-align: center;

  .shop_license_type {
    position: relative;
    height: 88px;

    .shop_license_icon {
      display: inline-block;
      vertical-align: middle;
      background-size: 100% 100%;
      width: 61px;
      height: 61px;
    }

    .shop_license_label {
      display: inline-block;
      vertical-align: middle;
      font-size: 34px;
      font-weight: 400;
      height: 88px;
      line-height: 88px;
      margin-left: 5px;
    }
  }

  .shop_license_label_free {
    color: #FF6B6C !important;
  }

  .shop_license_label_normal {
    color: #59A7FE !important;
  }

  .shop_license_label_senior {
    color: #8E58FF !important;
  }

  .shop_license_price {
    font-weight: 400;
  }

  .shop_license_price_free {
    text-decoration: line-through;
  }

  .shop_feature {
    display: inline-block;
    vertical-align: middle;
  }

  .shop_feature_one {
    position: relative;
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: left;
    height: 26px;
    width: 100%;

    .shop_feature_one_icon {
      display: inline-block;
      vertical-align: middle;

      background-size: 100% 100%;
      width: 24px;
      height: 24px;
      line-height: 24px;
      margin-top: px2rem((26 - 24) / 2);
    }

    .shop_feature_one_label {
      display: inline-block;
      vertical-align: middle;
      margin-left: 10px;
      font-size: 26px;
    }

    .shop_feature_one_label_star {
      display: inline-block;
      vertical-align: middle;
      height: 26px;
      color: white;
      border-radius: 4px;
      font-size: 20px;
      line-height: 26px;
      margin-left: 5px;
      padding: 2px 10px;
      background: linear-gradient(90deg, rgba(255, 207, 76, 1), rgba(255, 166, 102, 1));
    }

    .charge_item_feature_item_label_star2 {
      background: linear-gradient(90deg, rgba(255, 51, 68, 1), rgba(255, 136, 51, 1));
    }
    .charge_item_feature_item_label_star3 {
      background: linear-gradient(90deg, rgba(62, 198, 247, 1), rgba(48, 145, 242, 1));
    }
  }

  .shop_license_button {
    height: 88px;
    border-radius: 0 0 10px 10px;
    color: white;
    font-size: 28px;
    line-height: 88px;
    text-align: center;
  }

  .shop_license_button_free {
    background: rgba(221, 221, 221, 1);
  }

  .shop_license_button_normal {
    background: linear-gradient(90deg, rgba(255, 51, 68, 1), rgba(255, 136, 51, 1));
  }

  .shop_license_button_senior {
    background: linear-gradient(90deg, rgba(255, 51, 68, 1), rgba(255, 136, 51, 1));
  }
}

.charge_year_tip {
  display: inline-block;
  vertical-align: middle;
  color: white;
  background: linear-gradient(90deg, rgba(62, 198, 247, 1), rgba(48, 145, 242, 1));
  border-radius: 5px;
  height: 40px;
  line-height: 40px;
  font-size: 24px;
  padding: 0 10px;
}

.charge_year_tip_forever {
  background: linear-gradient(90deg, rgba(255, 207, 76, 1), rgba(255, 166, 102, 1));
}

