.shop_expired_date {
  margin-top: 30px;
  font-size: 26px;
  color: #999999;
}

.shop_charge {
  display: inline-block;
  margin-top: 20px;
  color: #f52626;
  height: 60px;
  line-height: 60px;
  border-radius: px2rem(60 * 0.5);
  font-size: 28px;
  padding: 0 40px;
  border: solid px2rem(1) #f52626;
}

.shop_nav_box_one_owner {
  width: 33.33% !important;
  padding-bottom: 20px;
}

.shop_nav_box_one_icon_owner {
  width: 80px !important;
  height: 80px !important;
}

