.shop_expired_date {
  margin-top: px2rem(30);
  font-size: px2rem(26);
  color: #999999;
}

.shop_charge {
  display: inline-block;
  margin-top: px2rem(20);
  color: #f52626;
  height: px2rem(60);
  line-height: px2rem(60);
  border-radius: px2rem(60 / 2);
  font-size: px2rem(28);
  padding: 0 px2rem(40);
  border: solid px2rem(1) #f52626;
}

.shop_center_owner {
  bottom: px2rem(750);
}

.shop_nav_box_owner {
  height: px2rem(900);
}

.shop_nav_box_one_owner {
  width: 33.33%;
  padding-bottom: px2rem(20);
}

.shop_nav_box_one_icon_owner {
  width: px2rem(80);
  height: px2rem(80);
}

