.license_label {
  background: white;

  .license_label_one {
    position: relative;
    height: px2rem(60);
    padding: 0 px2rem(35);

    .license_label_one_name {
      display: inline-block;
      line-height: px2rem(60);
      text-align: left;
    }

    .license_label_one_value {
      display: inline-block;
      float: right;
      line-height: px2rem(60);
      text-align: right;
      max-width: 70%;
      overflow: hidden;
    }
  }
}