.license_label {
  background: white;

  .license_label_one {
    position: relative;
    height: 60px;
    padding: 0 35px;

    .license_label_one_name {
      display: inline-block;
      vertical-align: middle;
      height: 60px;
      line-height: 60px;
      text-align: left;
      color: #333333;
    }

    .license_label_one_value {
      display: inline-block;
      vertical-align: middle;
      float: right;
      height: 60px;
      line-height: 60px;
      text-align: right;
      max-width: 70%;
      color: #666666;
      overflow: hidden;
    }
  }
}
