.reserve {
  position: relative;
  min-height: 100vh;
  padding-bottom: px2rem(30 + 24);
  box-sizing: border-box;
}

.reserve_notice_box {
  position: relative;
  margin-left: 25px;
  margin-right: 25px;
  background: transparent;
  z-index: 1;
}

.reserve_notice {
  background: white;
  height: 88px;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 30px;

  border-radius: px2rem(88 / 2);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);

  .reserve_notice_icon {
    background-image: url("/img/common/notice.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 40px;
    height: 40px;
    left: 40px;

    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
  }

  .reserve_notice_label {
    position: absolute;
    left: px2rem(40 + 40 + 15);

    line-height: 88px;
    color: #f52626;
  }
}

.reserve_content_box {
  position: relative;
  background: white;
  top: -45px;

  .date_select_box {
    position: relative;
    background: white;
    height: 110px;
    border-bottom: solid px2rem(1) rgba(230, 230, 230, 0.5);

    .time {
      position: absolute;
      left: 5px;
      right: px2rem(30 + 90 + 10 + 10);
      text-align: center;

      .date_item {
        position: relative;
        width: 25%;
        display: inline-block;

        .date_item_select_color {
          color: #f52626;
        }

        .date_item_desc {
          font-size: 28px;
          line-height: 40px;
        }

        .date_item_date {
          line-height: 40px;
        }

        .date_item_label_select {
          color: #f52626;
        }

        .date_item_select {
          position: relative;
          height: 4px;
          margin-top: px2rem(1);

          .date_item_select_line {
            background: #f52626;
            border-radius: px2rem(1);
            width: 30px;
            height: 4px;
            margin: 5px auto 0;
          }
        }
      }
    }

    .date_divide {
      position: absolute;
      width: px2rem(1);
      height: 70px;
      background: rgba(230, 230, 230, 0.5);
      right: px2rem(120 + 10);
      top: px2rem((80 - 70) / 2);
    }

    .calendar_box {
      position: absolute;
      width: 90px;
      right: 30px;
      top: 0;
      height: 80px;

      .calendar_icon {
        background-image: url("/img/c/reserve/reserve_calendar.png");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        width: 36px;
        height: 36px;
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        left: px2rem((90 - 36) / 2)
      }
    }
  }

  .table_box {
    position: relative;
    margin-top: 20px;

    .table_choose_label {
      font-size: 28px;
      color: #666666;
      margin-left: 30px;
    }

    .table {
      padding: px2rem(20) px2rem(30);

      .table_list::-webkit-scrollbar {
        background-color: transparent;
      }

      .table_list {
        display: -webkit-box;
        overflow-x: scroll;

        .table_box_table_info {
          background: #F5F5F5;
          text-align: center;
          padding: 20px 30px;
          margin-right: 20px;
        }

        .table_box_table_info_select {
          background: #FFEBEB !important;
        }

        .table_box_table_title {
          position: relative;

          .table_box_table_name {
            display: inline-block;
            font-size: 28px;
            color: #333333;
            line-height: 32px;
          }

          .table_box_table_name_select {
            color: #f52626 !important;
          }

          .table_box_table_private {
            background: linear-gradient(90deg, rgba(255, 51, 68, 1), rgba(255, 136, 51, 1));
            border-radius: 5px;
            width: 60px;
            height: 32px;
            line-height: 32px;
            left: 40px;

            display: inline-block;
            color: white;
            font-size: 24px;
            text-align: center;
          }
        }

        .table_box_table_people {
          margin-top: 5px;
          color: #666666;
        }

        .table_box_table_people_select {
          color: #f52626 !important;
        }
      }
    }

    .table_empty {
      text-align: center;
      color: #999999;
      border: px2rem(1) solid rgba(230, 230, 230, 0.5);
      padding: 30px 0;
    }
  }

  .time_select_box {

    .time_select_label {
      font-size: 28px;
      color: #666666;
      margin-left: 30px;
    }

    .time_select_list {
      padding: 20px 30px 0 30px;
      max-height: px2rem((30 * 2 + 26 + 20) * 3);
      overflow-y: auto;

      .time_select_item_none {
        text-align: center;
        color: #999999;
        border: px2rem(1) solid rgba(230, 230, 230, 0.5);
        padding: 30px 0;
      }

      .time_select_item {
        display: inline-block;
        width: 25%;
        text-align: center;
        margin-bottom: 20px;

        .time_select_item_one {
          display: inline-block;
          background: #F5F5F5;
          width: 80%;
          color: #666666;
          padding: 20px 30px;
        }

        .time_select_item_one_select {
          display: inline-block;
          background: #FFEBEB;
          color: #f52626;
          width: 80%;
          padding: 20px 30px;
        }
      }
    }
  }
}

