.init {
  text-align: center;
  background: white;
  min-height: 100vh;
}

.init_house {
  margin-top: px2rem(20);
  display: inline-block;

  background: url("/img/b/init/b_init_house.png") no-repeat;
  background-size: 120% 120%;
  width: px2rem(448);
  height: px2rem(448);
}

.task {
  display: inline-block;
}

.task_one {
  position: relative;
  margin-top: px2rem(20);
  text-align: left;
  height: px2rem(120);

  .task_one_number {
    position: relative;
    display: inline-block;
    text-align: center;
    color: white;
    font-weight: bold;
    line-height: px2rem(38);
    width: px2rem(38);
    height: px2rem(38);
    background: rgba(255, 65, 65, 1);
    border-radius: 50%;
  }

  .task_one_content {
    display: inline-block;
    border: solid px2rem(1) rgba(221, 221, 221, 1);
    border-radius: px2rem(10);
    height: px2rem(120);
    width: px2rem(580);
    margin-left: px2rem(20);

    .task_one_content_label {
      line-height: px2rem(120);
      margin-left: px2rem(30);
      color: #999999;
    }
  }
}