.food_price {
  background: white;

  .food_price_title {
    padding: 25px 35px;
    text-align: left;

    .food_price_title_label {
      display: inline-block;
      vertical-align: top;
      font-size: 28px;
      color: #333333;
    }

    .food_price_table_add {
      display: inline-block;
      vertical-align: top;
      float: right;

      background-image: url("/img/common/add_+.png");
      background-repeat: no-repeat;
      background-size: 100% 100%;
      width: 28px;
      height: 28px;
    }
  }

  .food_price_empty {
    margin-top: 30px;
    padding-bottom: 30px;
    text-align: center;

    .food_price_empty_image {
      display: inline-block;
      background-image: url("/img/b/food/b_food_price_empty.png");
      background-repeat: no-repeat;
      background-size: 100% 100%;
      width: 180px;
      height: 180px;
    }

    .food_price_empty_label {
      margin-top: 5px;
      color: #999999;
    }
  }

  .food_price_one {
    height: 90px;
    position: relative;

    .food_price_name {
      overflow:hidden;
      text-overflow:ellipsis;
      white-space:nowrap;

      display: inline-block;
      vertical-align: top;
      color: #333333;
      font-size: 28px;
      margin-left: px2rem(35 + 10);
      line-height: 90px;
    }

    .food_price_now {
      margin-left: 60px;
      display: inline-block;
      vertical-align: top;
      font-size: 36px;
      color: #f52626;
      line-height: 90px;
    }

    .food_price_now:before {
      display: inline-block;
      vertical-align: bottom;
      content: "¥";
      line-height: 90px;
      color: #f52626;
      margin-right: 5px;
    }

    .food_price_original {
      display: inline-block;
      vertical-align: top;
      text-decoration: line-through;
      font-size: 24px;
      line-height: 90px;
      color: #999999;
    }

    .food_price_original:before {
      content: "¥";
      font-size: 18px;
      line-height: 90px;
      text-decoration: line-through;
      color: #999999;
      margin-right: 5px;
    }

    .food_price_delete {
      right: 35 + 10px;
      position: absolute;
      top: 50%;
      transform: translate(0, -50%);

      background-image: url("/img/common/delete_x.png");
      background-repeat: no-repeat;
      background-size: 100% 100%;
      width: 20px;
      height: 20px;
    }
  }
}
