.shop_nav {
  background: white;

  .shop_center {
    position: absolute;
    background: transparent;
    top: 320px;
    left: 25px;
    right: 25px;
    z-index: 1;

    .shop_title {
      position: relative;

      .shop_title_name {
        display: inline-block;
        vertical-align: top;
        font-size: 30px;
        height: 30px;
        line-height: 30px;
      }
    }
  }

  .shop_nav_box {
    position: absolute;
    width: 100%;
    background: white;
    top: 450px;
    bottom: 0;

    .shop_nav_blank {
      height: 200px;
    }

    .shop_nav_box_one_box {
      position: absolute;
      width: 100%;
      background: white;

      .shop_nav_box_one {
        position: relative;
        float: left;
        text-align: center;
        margin-bottom: 20px;
        background: white;

        .shop_nav_box_one_icon {
          display: inline-block;
          width: 120px;
          height: 120px;
        }

        .shop_nav_box_one_label {
          font-size: 28px;
          padding-top: 5px;
          color: #333333;
        }
      }
    }
  }
}
