.container {
  height: 100vh;
}

.shop_bg {
  background-image: url("/img/common/title_bar_bg.png");
  background-repeat: no-repeat;
  background-size: 100% auto;
  top: 0;
  left: 0;
  width: 100%;
  position: absolute;
}

.shop_nav {
  width: 100%;
  background: white;

  .shop_center {
    position: absolute;
    background: transparent;
    left: px2rem(25);
    right: px2rem(25);
    z-index: 1;

    .shop_title {
      position: relative;

      .shop_title_name {
        display: inline-block;
        vertical-align: top;
        font-size: px2rem(30);
        height: px2rem(30);
        line-height: px2rem(30);
      }
    }
  }

  .shop_nav_box {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    background: white;

    .shop_nav_blank {
      height: px2rem(190);
    }

    .shop_nav_box_one {
      position: relative;
      float: left;
      text-align: center;
      margin-bottom: px2rem(20);

      .shop_nav_box_one_icon {
        display: inline-block;
      }

      .shop_nav_box_one_label {
        font-size: px2rem(28);
        padding-top: px2rem(5);
        color: #333333;
      }
    }
  }
}