.shop_nav {
  background: white;

  .shop_center {
    position: absolute;
    background: transparent;
    top: px2rem(320);
    left: px2rem(25);
    right: px2rem(25);
    z-index: 1;

    .shop_title {
      position: relative;

      .shop_title_name {
        display: inline-block;
        vertical-align: top;
        font-size: px2rem(30);
        height: px2rem(30);
        line-height: px2rem(30);
      }
    }
  }

  .shop_nav_box {
    position: absolute;
    width: 100%;
    background: white;
    top: px2rem(450);
    bottom: 0;

    .shop_nav_blank {
      height: px2rem(200);
    }

    .shop_nav_box_one_box {
      position: absolute;
      width: 100%;
      background: white;

      .shop_nav_box_one {
        position: relative;
        float: left;
        text-align: center;
        margin-bottom: px2rem(20);
        background: white;

        .shop_nav_box_one_icon {
          display: inline-block;
          width: px2rem(120);
          height: px2rem(120);
        }

        .shop_nav_box_one_label {
          font-size: px2rem(28);
          padding-top: px2rem(5);
          color: #333333;
        }
      }
    }
  }
}
