.title_bar_printer {
  background-image: url("/img/b/order/b_order_title_bar_printer.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 88px;
  height: 88px;

  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
}
