.shop_title_license {
  display: inline-block;
  background: linear-gradient(90deg, rgba(255, 76, 91, 1), rgba(255, 127, 102, 1));
  padding: 0 10px;
  height: 30px;
  border-radius: 4px;
  text-align: center;

  .shop_title_license_king {
    display: inline-block;
    vertical-align: middle;

    background-image: url("/img/b/nav/owner/b_nav_owner_king.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 24px;
    height: 24px;
    margin-top: px2rem((30 - 24) / 2);
  }

  .shop_title_license_label {
    display: inline-block;
    vertical-align: middle;
    font-size: 18px;
    height: 30px;
    color: #FFFCF0;
    line-height: 30px;
  }
}
