.wechat {
  position: relative;
  margin: px2rem(150) px2rem(35) px2rem(150);
  text-align: center;

  .wechat_title {
    color: #666666;
    font-size: px2rem(32);
  }

  .wechat_icon {
    display: inline-block;
    margin-top: px2rem(30);
    background-image: url("/img/wechat.png");
    background-size: 100% 100%;
    width: px2rem(500);
    height: px2rem(500);
  }
}

.home {
  position: relative;
  text-align: center;
  color: #666666;
  margin-bottom: px2rem(30);
}