.wechat {
  position: relative;
  margin-top: 150px;
  text-align: center;

  .wechat_title {
    color: #666666;
    font-size: 32px;
  }

  .wechat_icon {
    display: inline-block;
    margin-top: 50px;
    background-image: url("/img/wechat.png");
    background-size: 100% 100%;
    width: 430px;
    height: 430px;
  }
}
