.scan {
  position: relative;
  text-align: center;
  background: white;
  height: 100vh;

  .scan_image {
    margin-top: 30%;
    display: inline-block;
    background-image: url("/img/scan/scan.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 200px;
    height: 200px;
  }

  .scan_label {
    margin-top: 30px;
    font-size: 36px;
  }
}
