.order_success {
  position: relative;
  min-height: 100vh;
  padding-bottom: px2rem(30 + 24);
  box-sizing: border-box;
}

.success_logo_radius_image {
  background-image: url("/img/c/order/order_success.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 140px;
  height: 140px;
}

.success_order_price {
  font-size: 36px;
  color: #f52626;
  line-height: 90px;
}

.success_order_price:after {
  color: #666666;
  content: "元";
  font-size: 26px;
  margin-left: 10px;
}
