.order_add_content {
  background: white;
}

.list_add_food_icon {
  display: inline-block;
  vertical-align: middle;
  background-image: url("/img/c/food/food_add_order.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 32px;
  height: 32px;
  margin-left: 35px;
}


