.success_logo_radius_image {
  background-image: url("/img/m/order/order_success.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: px2rem(140);
  height: px2rem(140);
}

.success_order_price {
  font-size: px2rem(40);
  color: #f52626;
  line-height: px2rem(90);
}

.success_order_price:after {
  color: #666666;
  content: "元";
  margin-left: px2rem(10);
}
