.reserve_notice_box {
  position: relative;
  margin-left: px2rem(25);
  margin-right: px2rem(25);
  background: transparent;
  z-index: 1;
}

.reserve_notice {
  background: white;
  height: px2rem(88);
  margin-left: px2rem(15);
  margin-right: px2rem(15);
  margin-top: px2rem(30);

  border-radius: px2rem(88/2);
  box-shadow: 0 0 px2rem(20) 0 rgba(0, 0, 0, 0.1);

  .reserve_notice_icon {
    background-image: url("/img/common/notice.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: px2rem(40);
    height: px2rem(40);
    left: px2rem(40);

    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
  }

  .reserve_notice_label {
    position: absolute;
    left: px2rem(40 + 40 + 15);

    line-height: px2rem(88);
    color: #f52626;
  }
}

.reserve_content_box {
  position: relative;
  background: white;
  top: px2rem(-45);

  .date_select_box {
    position: relative;
    background: white;
    height: px2rem(110);
    border-bottom: solid px2rem(2) rgba(230, 230, 230, 0.5);

    .time {
      position: absolute;
      left: px2rem(5);
      right: px2rem(30 + 90 + 10 + 10);
      text-align: center;

      .date_item {
        position: relative;
        width: 25%;
        display: inline-block;

        .date_item_select_color {
          color: #f52626;
        }

        .date_item_desc {
          font-size: px2rem(28);
          line-height: px2rem(40);
        }

        .date_item_date {
          line-height: px2rem(40);
        }

        .date_item_label_select {
          color: #f52626;
        }

        .date_item_select {
          position: relative;
          height: px2rem(4);
          margin-top: px2rem(2);

          .date_item_select_line {
            background: #f52626;
            border-radius: px2rem(2);
            width: px2rem(30);
            height: px2rem(4);
            margin: px2rem(5) auto 0;
          }
        }
      }
    }

    .date_divide {
      position: absolute;
      width: px2rem(2);
      height: px2rem(70);
      background: rgba(230, 230, 230, 0.5);
      right: px2rem(120 + 10);
      top: px2rem((80 - 70) / 2);
    }

    .calendar_box {
      position: absolute;
      width: px2rem(90);
      right: px2rem(30);
      top: 0;
      height: px2rem(80);

      .calendar_icon {
        background-image: url("/img/m/reserve/reserve_calendar.png");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        width: px2rem(36);
        height: px2rem(36);
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        left: px2rem((90-36) / 2)
      }
    }
  }

  .table_box {
    position: relative;
    margin-top: px2rem(20);

    .table_select_label {
      font-size: px2rem(28);
      color: #666666;
      margin-left: px2rem(30);
    }

    .table {
      padding: px2rem(20) px2rem(30);

      .table_list::-webkit-scrollbar {
        background-color: transparent;
      }

      .table_list {
        display: -webkit-box;
        overflow-x: scroll;
        -webkit-overflow-scrolling: touch;

        .table_box_table_info_select {
          background: #FFEBEB;
          text-align: center;
          margin-right: px2rem(20);
          padding: px2rem(20) px2rem(30);
        }

        .table_box_table_info {
          background: #F5F5F5;
          text-align: center;
          margin-right: px2rem(20);
          padding: px2rem(20) px2rem(30);
        }

        .table_box_table_title {
          position: relative;

          .table_box_table_name {
            display: inline-block;
            font-size: px2rem(28);
            color: #333333;
            line-height: px2rem(32);
          }

          .table_box_table_name_select {
            display: inline-block;
            font-size: px2rem(28);
            color: #f52626;
            line-height: px2rem(32);
          }

          .table_box_table_private {
            background: linear-gradient(90deg, rgba(255, 51, 68, 1), rgba(255, 136, 51, 1));
            border-radius: px2rem(5);
            width: px2rem(60);
            height: px2rem(32);
            left: px2rem(40);

            display: inline-block;
            color: white;
            font-size: px2rem(24);
          }
        }

        .table_box_table_people {
          color: #666666;
        }

        .table_box_table_people_select {
          color: #f52626;
        }
      }
    }
  }

  .time_select_box {

    .time_select_label {
      font-size: px2rem(28);
      color: #666666;
      margin-left: px2rem(30);
    }

    .time_select_list {
      margin-top: px2rem(20);
      padding: px2rem(20) px2rem(30) 0 px2rem(30);
      max-height: px2rem((30 * 2 + 26 + 20) * 3);
      overflow-y: scroll;

      .time_select_item_none {
        text-align: center;
        color: #999999;
        border:px2rem(2) solid rgba(230, 230, 230, 0.5);
        padding: px2rem(30) px2rem(0);
      }

      .time_select_item {
        display: inline-block;
        width: 25%;
        text-align: center;
        margin-bottom: px2rem(20);

        .time_select_item_one {
          display: inline-block;
          background: #F5F5F5;
          width: 80%;
          color: #666666;
          padding: px2rem(20) px2rem(30);
        }

        .time_select_item_one_select {
          display: inline-block;
          background: #FFEBEB;
          color: #f52626;
          width: 80%;
          padding: px2rem(20) px2rem(30);
        }
      }
    }
  }
}

