.reserve {
  position: relative;
  margin-top: 30px;
}

.reserve_header {
  height: 24px;
  border-radius: 12px;
  background: #b2b8c6;
}

.reserve_body {
  background: white;
  margin-top: -12px;
  margin-left: 15px;
  margin-right: 15px;
  padding: 0 20px;
}

.reserve_body_title {
  height: 50px;

  .reserve_body_title_one {
    display: inline-block;
    vertical-align: middle;
    float: left;
    text-align: center;
    font-size: 28px;
    color: #333333;
    font-weight: 400;
    width: 25%;
  }

  .reserve_body_title_one2 {
    width: 50% !important;
  }
}

.reserve_body_content {
  height: 50px;

  .reserve_body_content_one {
    display: inline-block;
    vertical-align: middle;
    float: left;
    text-align: center;
    font-size: 24px;
    color: #666666;
    font-weight: 400;
    width: 25%;
    line-height: 50px;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .reserve_body_content_one2 {
    width: 50% !important;
  }

  .reserve_body_content_price {
    display: inline-block;
    vertical-align: middle;
    font-size: 24px;
    color: #f52626;
    line-height: 50px;
  }

  .reserve_body_content_price:before {
    display: inline-block;
    vertical-align: middle;
    content: "¥";
    font-size: 24px;
    color: #f52626;
    margin-right: 5px;
    line-height: 50px;
  }
}

.reserve_empty {
  height: 200px;
  color: #999999;
  text-align: center;
  line-height: 200px;
  font-size: 28px;
}

.reserve_footer {
  height: 10px;
}
