.food_status_online {
  margin-top: px2rem((90 - 40) / 2);
  color: rgb(1, 176, 107);
  background: rgba(1, 176, 107, 0.1);
  height: px2rem(40);
  padding: 0 px2rem(20);
  line-height: px2rem(40);
  border-radius: px2rem(5);
}

.food_status_offline {
  margin-top: px2rem((90 - 40) / 2);
  color: rgb(247, 127, 128);
  background: rgba(247, 127, 128, 0.1);
  height: px2rem(40);
  padding: 0 px2rem(20);
  line-height: px2rem(40);
  border-radius: px2rem(5);
}

.food_status_sold_out {
  margin-top: px2rem((90 - 40) / 2);
  color: rgb(221, 221, 221);
  background: rgba(221, 221, 221, 0.1);
  height: px2rem(40);
  padding: 0 px2rem(20);
  line-height: px2rem(40);
  border-radius: px2rem(5);
  border: solid px2rem(1) rgba(221, 221, 221, 0.5);
}
