.food_status_online {
  margin-top: px2rem((90 - 40) * 0.5);
  color: rgb(1, 176, 107);
  background: rgba(1, 176, 107, 0.1);
  height: 40px;
  padding: 0 20px;
  line-height: 40px;
  border-radius: 5px;
}

.food_status_offline {
  margin-top: px2rem((90 - 40) * 0.5);
  color: rgb(247, 127, 128);
  background: rgba(247, 127, 128, 0.1);
  height: 40px;
  padding: 0 20px;
  line-height: 40px;
  border-radius: 5px;
}

.food_status_sold_out {
  margin-top: px2rem((90 - 40) * 0.5);
  color: rgb(221, 221, 221);
  background: rgba(221, 221, 221, 0.1);
  height: 40px;
  padding: 0 20px;
  line-height: 40px;
  border-radius: 5px;
  border: solid px2rem(1) rgba(221, 221, 221, 0.5);
}
