.title {
  padding: px2rem(50) px2rem(30) px2rem(60);
  height: px2rem(32);

  .title_table {
    display: inline-block;
    color: #555555;
    font-size: px2rem(32);
  }

  .title_download {
    display: inline-block;
    float: right;
    color: #F52626;
    font-size: px2rem(32);
  }
}

.captcha_text_box {
  position: relative;
  text-align: left;
  margin-top: px2rem(50);
  padding: px2rem(30);

  .captcha_title {
    text-align: center;
    color: #F52626;
    font-size: px2rem(32);
    padding: px2rem(20);
  }

  .captcha_text {
    font-size: px2rem(24);
    width: 100%;
    padding: px2rem(20);
    min-height: px2rem(500);
    color: #666666;
  }
}

.captcha {
  position: relative;
  text-align: center;

  .captcha_one {
    position: relative;
    display: inline-block;
    text-align: center;
    width: px2rem(750);
    height: px2rem(1334);
  }

  .captcha_part_cover {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    background: url("/img/b/captcha/b_captcha_part_cover.png") no-repeat;
    background-size: 100% auto;
  }

  .captcha_part_label {
    position: absolute;
    top: px2rem(212);

    background: url("/img/b/captcha/b_captcha_part_label.png") no-repeat;
    background-size: 100% auto;
    width: px2rem(607);
    height: px2rem(97);


    left: 0;
    right: 0;
    margin: auto;
  }

  .captcha_part_panel {
    position: absolute;
    left: 0;
    bottom: 0;

    background: url("/img/b/captcha/b_captcha_part_panel.png") no-repeat;
    background-size: 100% auto;
    width: px2rem(750);
    height: px2rem(937);
  }

  .captcha_part_desk {
    position: absolute;
    top: px2rem(540);
    font-size: px2rem(44);
    color: #E4394C;

    left: 0;
    right: 0;
    margin: auto;
  }

  .captcha_part_title {
    position: absolute;
    top: px2rem(70);

    left: 0;
    right: 0;
    margin: 0;
    padding: 0;
  }

  .captcha_part_title_label {
    display: inline-block;
    vertical-align: top;
    text-align: center;
    background: #FFCD2E;
    color: white;
    height: px2rem(66);
    font-size: px2rem(36);
    line-height: px2rem(52);
    font-weight: 400;
    padding: 0 px2rem(35);
    border-radius: px2rem(4);
  }

  .captcha_part_title_left {
    display: inline-block;
    vertical-align: center;
    margin-right: px2rem(-10);
    margin-top: px2rem(10);

    background: url("/img/b/captcha/b_captcha_part_title_left.png") no-repeat;
    background-size: 100% 100%;
    width: px2rem(70);
    height: px2rem(66);
  }

  .captcha_part_title_right {
    display: inline-block;
    vertical-align: center;
    margin-left: px2rem(-10);
    margin-top: px2rem(10);

    background: url("/img/b/captcha/b_captcha_part_title_right.png") no-repeat;
    background-size: 100% 100%;
    width: px2rem(70);
    height: px2rem(66);
  }

  .captcha_part_image {
    position: absolute;
    top: px2rem(640);

    left: 0;
    right: 0;
    margin: auto;

    width: px2rem(520) !important;
    height: auto !important;
  }

  .captcha_part_copyright {
    position: absolute;
    bottom: px2rem(110);
    color: #555555;

    left: 0;
    right: 0;
    margin: auto;
  }
}
