.title {
  padding: 50px 30px 60px;
  height: 32px;

  .title_table {
    display: inline-block;
    color: #555555;
    font-size: 32px;
  }

  .title_download {
    display: inline-block;
    float: right;
    color: #F52626;
    font-size: 32px;
  }
}

.captcha_text_box {
  position: relative;
  text-align: left;
  margin-top: 50px;
  padding: 30px;

  .captcha_title {
    text-align: center;
    color: #F52626;
    font-size: 32px;
    padding: 20px;
  }

  .captcha_text {
    font-size: 24px;
    width: 100%;
    padding: 20px;
    min-height: 500px;
    color: #666666;
  }
}

.captcha {
  position: relative;
  text-align: center;

  .captcha_one {
    position: relative;
    display: inline-block;
    text-align: center;
    width: 750px;
    height: 1334px;
  }

  .captcha_part_cover {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    background: url("/img/b/captcha/b_captcha_part_cover.png") no-repeat;
    background-size: 100% auto;
  }

  .captcha_part_label {
    position: absolute;
    top: 212px;

    background: url("/img/b/captcha/b_captcha_part_label.png") no-repeat;
    background-size: 100% auto;
    width: 607px;
    height: 97px;


    left: 0;
    right: 0;
    margin: auto;
  }

  .captcha_part_panel {
    position: absolute;
    left: 0;
    bottom: 0;

    background: url("/img/b/captcha/b_captcha_part_panel.png") no-repeat;
    background-size: 100% auto;
    width: 750px;
    height: 937px;
  }

  .captcha_part_desk {
    position: absolute;
    top: 540px;
    font-size: 44px;
    color: #E4394C;

    left: 0;
    right: 0;
    margin: auto;
  }

  .captcha_part_title {
    position: absolute;
    top: 70px;

    left: 0;
    right: 0;
    margin: 0;
    padding: 0;
  }

  .captcha_part_title_label {
    display: inline-block;
    vertical-align: top;
    text-align: center;
    background: #FFCD2E;
    color: white;
    height: 66px;
    font-size: 36px;
    line-height: 66px;
    font-weight: 400;
    padding: 0 35px;
    border-radius: 4px;
  }

  .captcha_part_title_left {
    display: inline-block;
    vertical-align: center;
    margin-right: -10px;
    margin-top: 10px;

    background: url("/img/b/captcha/b_captcha_part_title_left.png") no-repeat;
    background-size: 100% 100%;
    width: 70px;
    height: 66px;
  }

  .captcha_part_title_right {
    display: inline-block;
    vertical-align: center;
    margin-left: -10px;
    margin-top: 10px;

    background: url("/img/b/captcha/b_captcha_part_title_right.png") no-repeat;
    background-size: 100% 100%;
    width: 70px;
    height: 66px;
  }

  .captcha_part_image {
    position: absolute;
    top: 640px;

    left: 0;
    right: 0;
    margin: auto;

    width: 520px !important;
    height: auto !important;
  }

  .captcha_part_copyright {
    position: absolute;
    bottom: 110px;
    color: #555555;

    left: 0;
    right: 0;
    margin: auto;
  }
}
