.queue_notice_box {
  position: relative;
  margin-left: px2rem(25);
  margin-right: px2rem(25);
  background: transparent;
  z-index: 1;
}

.queue_notice {
  background: white;
  height: px2rem(88);
  margin-left: px2rem(15);
  margin-right: px2rem(15);
  margin-top: px2rem(30);

  border-radius: px2rem(88/2);
  box-shadow: 0 0 px2rem(20) 0 rgba(0, 0, 0, 0.1);

  .queue_notice_icon {
    background-image: url("/img/common/notice.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: px2rem(40);
    height: px2rem(40);
    left: px2rem(40);

    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
  }

  .queue_notice_label {
    position: absolute;
    left: px2rem(40 + 40 + 15);

    line-height: px2rem(88);
    color: #f52626;
  }
}

.queue_content_box {
  position: relative;
  background: white;
  top: px2rem(-45);
}

.queue_box {
  position: relative;
  margin-top: px2rem(50);

  .queue_title {
    height: px2rem(40);

    .queue_title_icon {
      background-image: url("/img/m/queue/queue_title.png");
      background-repeat: no-repeat;
      background-size: 100% 100%;
      width: px2rem(40);
      height: px2rem(40);
      position: absolute;
      left: px2rem(30);
      top: 0;
    }

    .queue_title_label {
      position: absolute;
      font-size: px2rem(28);
      color: #333333;
      line-height: px2rem(40);
      left: px2rem(30 + 40 + 10);
      top: 0;
    }
  }
}

.queue_box_table {
  position: relative;
  height: px2rem(120);
  border-radius: px2rem(10);
  margin: px2rem(20) px2rem(30);
  background: #FFF5F5;
  border: solid px2rem(1) #F7949D;

  .queue_box_table_info {
    position: relative;
    display: inline-block;
    margin-left: px2rem(50);
    text-align: center;

    top: 50%;
    transform: translate(0, -50%);

    .queue_box_table_title {
      position: relative;

      .queue_box_table_name {
        display: inline-block;
        vertical-align: middle;
        font-size: px2rem(28);
        color: #333333;
        line-height: px2rem(32);
      }

      .queue_box_table_private {
        display: inline-block;
        vertical-align: middle;
        background: linear-gradient(90deg, rgba(255, 51, 68, 1), rgba(255, 136, 51, 1));
        border-radius: px2rem(5);
        height: px2rem(32);
        line-height: px2rem(32);
        left: px2rem(40);
        padding: 0 px2rem(10);

        color: white;
        font-size: px2rem(24);
        text-align: center;
      }
    }

    .queue_box_table_people {
      color: #666666;
    }
  }

  .queue_box_table_wait_people {
    display: inline-block;
    color: #f52626;
    position: absolute;
    right: px2rem(240);
  }

  .queue_box_table_wait_people:before {
    content: "等待";
    font-size: px2rem(28);
    color: #333333;
    line-height: px2rem(120);
    margin-right: px2rem(10);
  }

  .queue_box_table_wait_people:after {
    content: "桌";
    font-size: px2rem(28);
    color: #333333;
    line-height: px2rem(120);
    margin-left: px2rem(10);
  }

  .queue_box_table_wait_time_zero {
    display: inline-block;
    float: right;
    margin-right: px2rem(50);
    font-size: px2rem(28);
    color: #999999;
    line-height: px2rem(120);
  }

  .queue_box_table_wait_guess {
    display: inline-block;
    margin-right: px2rem(50);
    float: right;

    .queue_box_table_wait_time {
      display: inline-block;
      font-size: px2rem(28);
      color: #f52626;
      line-height: px2rem(120);
    }

    .queue_box_table_wait_time2 {
      display: inline-block;
      margin-left: px2rem(10);
      font-size: px2rem(28);
      color: #333333;
      line-height: px2rem(120);
    }
  }
}

.queue_distance {
  position: relative;
  background: white;
  height: px2rem(60);

  .queue_distance_label {
    display: inline-block;
    margin-left: px2rem(35);

  }

  .queue_distance_goto {
    display: inline-block;
    float: right;

    .queue_distance_goto_icon {
      background-image: url("/img/m/queue/queue_goto.png");
      background-repeat: no-repeat;
      background-size: 100% 100%;
      width: px2rem(34);
      height: px2rem(34);

      float: right;
      display: inline-block;
      margin-right: px2rem(10);
    }

    .queue_distance_goto_label {
      display: inline-block;
      float: right;
      margin-right: px2rem(35);
      color: #f52626;
      line-height: px2rem(34);
    }
  }
}

.queue_prompt {
  margin: px2rem(30) px2rem(25) px2rem(0) px2rem(25);

  .queue_prompt_label {
    font-size: px2rem(24);
  }
}

.queue_number_box {
  position: relative;
  background: white;
}

.queue_number {
  position: relative;

  .queue_number_title {
    position: relative;
    height: px2rem(50);
    margin-left: px2rem(35);
    margin-right: px2rem(35);
    top: px2rem(35);

    .queue_number_title_icon {
      display: inline-block;
      background-image: url("/img/m/queue/queue_number.png");
      background-repeat: no-repeat;
      background-size: 100% 100%;
      width: px2rem(40);
      height: px2rem(40);

      position: absolute;
      top: 50%;
      transform: translate(0, -50%);
    }

    .queue_number_title_label {
      position: absolute;
      left: px2rem(40 + 10);
      color: #333333;
      line-height: px2rem(50);
      top: 0;
    }

    .queue_number_title_status {
      position: absolute;
      right: px2rem(40 + 20);
      color: #333333;
      font-size: px2rem(24);
      top: 0;
      padding: px2rem(5) px2rem(10);
      border-radius: px2rem(5);
    }

    .queue_number_title_status_now {
      background: #f6fffc;
      color: #3ed195;
      border: solid px2rem(1) #00c172;

      right: px2rem(0);
    }

    .queue_number_title_status_wait {
      background: #fef2f4;
      color: #f32824;
      border: solid px2rem(1) #f32824;
    }

    .queue_number_title_cancel {
      background-image: url("/img/common/delete.png");
      background-repeat: no-repeat;
      background-size: 100% 100%;
      width: px2rem(28);
      height: px2rem(30);
      color: #333333;
      position: absolute;
      right: 0;
      top: px2rem((50-30)/2)
    }
  }

  .queue_number_desk {
    position: relative;
    margin-top: px2rem(50);
    text-align: center;

    .queue_number_desk_number {
      display: inline-block;
      font-size: px2rem(80);
      color: #f52626;
    }

    .queue_number_desk_detail {
      display: inline-block;

      margin-right: px2rem(10);
    }
  }

  .queue_number_time {
    text-align: center;
    margin-top: px2rem(10);
    margin-bottom: px2rem(30);
  }

  .queue_number_status {
    margin-top: px2rem(25);
    margin-left: px2rem(35);
    margin-right: px2rem(35);

    .queue_number_status_wait_people {
      display: inline-block;
      font-size: px2rem(28);
      color: #f52626;
    }

    .queue_number_status_wait_people:before {
      display: inline-block;
      content: "前方正在等待";
      color: #666666;
      margin-right: px2rem(10);
    }

    .queue_number_status_wait_people:after {
      display: inline-block;
      content: "桌";
      color: #666666;
      margin-left: px2rem(10);
    }

    .queue_number_status_wait_guess {
      display: inline-block;
      float: right;

      .queue_number_status_wait_label {
        display: inline-block;
        content: "预计等待";
        color: #666666;
        margin-right: px2rem(10);
      }

      .queue_number_status_wait_time {
        display: inline-block;
        font-size: px2rem(28);
        color: #f52626;
      }

      .queue_number_status_wait_time2 {
        display: inline-block;
        color: #666666;
        margin-left: px2rem(10);
      }
    }
  }
}

.queue_table_select {
  text-align: center;
  height: px2rem(90);
  margin: px2rem(20) px2rem(70);
  border-radius: px2rem(10);
}

.queue_table_select_none {
  border: solid px2rem(1) rgba(230, 230, 230, 0.5);
}

.queue_table_select_yes {
  border: solid px2rem(1) #f52626;
}

.queue_table_select_no {
  border: solid px2rem(1) #999999;
}

.queue_table_name {
  display: inline-block;
  font-size: px2rem(28);
  line-height: px2rem(90);
}

.queue_table_name_none {
  color: rgba(230, 230, 230, 0.5);
}

.queue_table_name_yes {
  color: #f52626;
}

.queue_table_name_no {
  color: #999999;
}

.queue_table_people {
  display: inline-block;
  font-size: px2rem(28);
  line-height: px2rem(90);
}

.queue_table_people_none {
  color: rgba(230, 230, 230, 0.5);
}

.queue_table_people_yes {
  color: #f52626;
}

.queue_table_people_no {
  color: #999999;
}

.queue_table_private {
  background: linear-gradient(90deg, rgba(255, 51, 68, 1), rgba(255, 136, 51, 1));
  border-radius: px2rem(5);
  width: px2rem(60);
  height: px2rem(32);
  left: px2rem(40);

  display: inline-block;
  color: white;
  font-size: px2rem(24);
  line-height: px2rem(32);
  text-align: center;
}
