@charset "UTF-8";
.title_bar_bg_img_queue {
  background-image: url("/img/common/title_bar_bg.png");
  background-repeat: no-repeat;
  background-size: 100% auto;
  position: absolute;
  width: 100%;
  height: px2rem(300);
  overflow: hidden;
  top: 0;
  left: 0;
  z-index: -1;
}

.queue_title {
  margin-top: px2rem(40);
  margin-left: px2rem(35);
}

.queue_title .queue_title_name {
  font-size: px2rem(36);
  color: white;
  font-weight: 400;
}

.queue_title .queue_title_detail {

  margin-top: px2rem(10);
  color: rgba(254, 254, 254, 0.8);
}

.queue_search_box {
  position: relative;
  margin-left: px2rem(25);
  margin-right: px2rem(25);
  background: transparent;
  z-index: 1;
}

.queue_search {
  background: white;
  height: px2rem(88);
  margin-left: px2rem(15);
  margin-right: px2rem(15);
  margin-top: px2rem(30);
  border-radius: px2rem(88/2);
  box-shadow: 0 0 px2rem(10) rgba(0, 0, 0, 0.2);
}

.queue_search .queue_search_icon {
  background-image: url("/img/c/queue/queue_notice.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: px2rem(40);
  height: px2rem(40);
  left: px2rem(40);
  position: absolute;
  top: 0;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;
}

.queue_search .queue_search_label {
  position: absolute;
  left: px2rem(95);

  line-height: px2rem(88);
  color: #f52626;
}

.queue_content_box {
  position: relative;
  background: white;
  margin-top: px2rem(-40);
}

.queue_content_box .queue_content_box_blank_header {
  height: px2rem(20);
}

.queue_content_box .queue_content_box_blank_footer {
  height: px2rem(10);
}

.queue_box {
  position: relative;
  margin-top: px2rem(50);
}

.queue_box .queue_title {
  height: px2rem(40);
}

.queue_box .queue_title .queue_title_icon {
  background-image: url("/img/c/queue/queue_title.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: px2rem(40);
  height: px2rem(40);
  left: px2rem(40);
}

.queue_box .queue_title .queue_title_label {
  position: absolute;
  font-size: px2rem(28);
  color: #333333;
  line-height: px2rem(40);
  left: px2rem(90);
  top: 0;
}

.queue_box_table {
  position: relative;
  height: px2rem(120);
  border-radius: px2rem(10);
  margin: px2rem(20) px2rem(30);
  background: #FFF5F5;
  border: solid px2rem(1) #F7949D;
}

.queue_box_table .queue_box_table_info {
  display: inline-block;
  margin-left: px2rem(50);
  text-align: center;
  width: px2rem(200);
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}

.queue_box_table .queue_box_table_info .queue_box_table_title {
  position: relative;
}

.queue_box_table .queue_box_table_info .queue_box_table_title .queue_box_table_name {
  display: inline-block;
  font-size: px2rem(28);
  color: #333333;
}

.queue_box_table .queue_box_table_info .queue_box_table_title .queue_box_table_private {
  background: linear-gradient(90deg, rgba(255, 51, 68, 1), rgba(255, 136, 51, 1));
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: px2rem(60);
  height: px2rem(32);
  left: px2rem(40);
  display: inline-block;
  color: white;
  font-size: px2rem(24);
  line-height: px2rem(32);
}

.queue_box_table .queue_box_table_info .queue_box_table_people {

  color: #666666;
}

.queue_box_table .queue_box_table_wait_people {
  display: inline-block;
  color: #f52626;
  position: absolute;
  right: px2rem(240);
}

.queue_box_table .queue_box_table_wait_people:before {
  content: "等待";
  font-size: px2rem(28);
  color: #333333;
  line-height: px2rem(120);
  margin-right: px2rem(10);
}

.queue_box_table .queue_box_table_wait_people:after {
  content: "桌";
  font-size: px2rem(28);
  color: #333333;
  line-height: px2rem(120);
  margin-left: px2rem(10);
}

.queue_box_table .queue_box_table_wait_time_zero {
  display: inline-block;
  float: right;
  margin-right: px2rem(50);
  font-size: px2rem(28);
  color: #999999;
  line-height: px2rem(120);
}

.queue_box_table .queue_box_table_wait_time {
  display: inline-block;
  float: right;
  margin-right: px2rem(50);
  font-size: px2rem(28);
  color: #f52626;
  line-height: px2rem(120);
}

.queue_box_table .queue_box_table_wait_time:after {
  content: "分钟";
  display: inline-block;
  margin-left: px2rem(10);
  font-size: px2rem(28);
  color: #333333;
  line-height: px2rem(120);
}

.queue_distance {
  position: relative;
  background: white;
  height: px2rem(60);
}

.queue_distance .queue_distance_label {
  display: inline-block;
  margin-left: px2rem(35);

}

.queue_distance .queue_distance_goto {
  display: inline-block;
  float: right;
}

.queue_distance .queue_distance_goto .queue_distance_goto_icon {
  background-image: url("/img/c/queue/queue_goto.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: px2rem(34);
  height: px2rem(34);
  float: right;
  display: inline-block;
  margin-right: px2rem(10);
}

.queue_distance .queue_distance_goto .queue_distance_goto_label {
  display: inline-block;
  float: right;
  margin-right: px2rem(35);
  color: #f52626;
  line-height: px2rem(34);
}

.queue_prompt {
  margin: px2rem(30) px2rem(25) px2rem(0) px2rem(25);
}

.queue_prompt .queue_prompt_label {
  font-size: px2rem(24);
}

.queue_number_box {
  position: relative;
  background: white;
}

.queue_number_box .queue_number_box_blank_header {
  height: px2rem(10);
}

.queue_number_box .queue_number_box_blank_footer {
  height: px2rem(20);
}

.queue_number {
  position: relative;
  height: px2rem(380);
}

.queue_number .queue_number_title {
  position: relative;
  height: px2rem(50);
  margin-left: px2rem(35);
  margin-right: px2rem(35);
  top: px2rem(35);
}

.queue_number .queue_number_title .queue_number_title_icon {
  display: inline-block;
  background-image: url("/img/c/queue/queue_number.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: px2rem(40);
  height: px2rem(40);
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}

.queue_number .queue_number_title .queue_number_title_label {
  position: absolute;
  left: px2rem(50);
  color: #333333;
  line-height: px2rem(50);
  top: 0;
}

.queue_number .queue_number_title .queue_number_title_status {
  position: absolute;
  right: px2rem(60);
  color: #333333;
  font-size: px2rem(24);
  top: 0;
  padding: px2rem(5) px2rem(10);
  border-radius: px2rem(5);
}

.queue_number .queue_number_title .queue_number_title_status_now {
  background: #f6fffc;
  color: #3ed195;
  border: solid px2rem(1) #00c172;
}

.queue_number .queue_number_title .queue_number_title_status_wait {
  background: #fef2f4;
  color: #f32824;
  border: solid px2rem(1) #f32824;
  right: px2rem(200);
  /* deleted */
}

.queue_number .queue_number_title .queue_number_title_cancel {
  background-image: url("/img/common/delete.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: px2rem(28);
  height: px2rem(30);
  color: #333333;
  position: absolute;
  right: 0;
  top: px2rem(10);
}

.queue_number .queue_number_desk {
  position: relative;
  margin-top: px2rem(50);
  text-align: center;
}

.queue_number .queue_number_desk .queue_number_desk_number {
  display: inline-block;
  font-size: px2rem(80);
  color: #f52626;
}

.queue_number .queue_number_desk .queue_number_desk_detail {
  display: inline-block;

  margin-right: px2rem(10);
}

.queue_number .queue_number_time {
  text-align: center;
  margin-top: px2rem(10);
  margin-bottom: px2rem(30);
}

.queue_number .queue_number_status {
  margin-top: px2rem(25);
  margin-left: px2rem(35);
  margin-right: px2rem(35);
}

.queue_number .queue_number_status .queue_number_status_wait_people {
  display: inline-block;
  font-size: px2rem(28);
  color: #f52626;
}

.queue_number .queue_number_status .queue_number_status_wait_people:before {
  display: inline-block;
  content: "前方正在等待";
  color: #666666;
  margin-right: px2rem(10);
}

.queue_number .queue_number_status .queue_number_status_wait_people:after {
  display: inline-block;
  content: "桌";
  color: #666666;
  margin-left: px2rem(10);
}

.queue_number .queue_number_status .queue_number_status_wait_time {
  display: inline-block;
  font-size: px2rem(28);
  color: #f52626;
  float: right;
}

.queue_number .queue_number_status .queue_number_status_wait_time:before {
  display: inline-block;
  content: "您已等待";
  color: #666666;
  margin-right: px2rem(10);
}

.queue_number .queue_number_status .queue_number_status_wait_time:after {
  display: inline-block;
  content: "分钟";
  color: #666666;
  margin-left: px2rem(10);
}

.queue_table_select {
  position: fixed;
  background: white;
  text-align: center;
  top: 50%;
  transform: translate(0, -50%);
  left: px2rem(100);
  right: px2rem(100);
  border-radius: px2rem(10);
  z-index: 10;
}

.queue_table_select .close_box {
  position: absolute;
  width: px2rem(70);
  height: px2rem(70);
  top: 0;
  right: 0;
}

.queue_table_select .close_box .close {
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: px2rem(26);
  height: px2rem(26);
  float: right;
  position: absolute;
  right: px2rem(30);
  top: px2rem(30);
}

.queue_table_select .queue_table_select_title {
  margin-top: px2rem(30);
  font-size: px2rem(32);
  color: #333333;
  margin-bottom: px2rem(50);
}

.queue_table_select .queue_table_select_none {
  text-align: center;
  height: px2rem(90);
  margin: px2rem(20) px2rem(70);
  border: solid px2rem(1) rgba(230, 230, 230, 0.5);
  border-radius: px2rem(10);
}

.queue_table_select .queue_table_select_yes {
  text-align: center;
  height: px2rem(90);
  margin: px2rem(20) px2rem(70);
  border: solid px2rem(1) #f52626;
  border-radius: px2rem(10);
}

.queue_table_select .queue_table_select_no {
  text-align: center;
  height: px2rem(90);
  margin: px2rem(20) px2rem(70);
  border: solid px2rem(1) #999999;
  border-radius: px2rem(10);
}

.queue_table_select .queue_table_name {
  display: inline-block;
  font-size: px2rem(28);
  line-height: px2rem(90);
  color: #333333;
}

.queue_table_select .queue_table_people {
  display: inline-block;
  font-size: px2rem(28);
  line-height: px2rem(90);
  color: #666666;
}

.queue_table_select .queue_table_private {
  background-image: url("/img/c/queue/queue_table_private.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: px2rem(60);
  height: px2rem(32);
  left: px2rem(40);
  display: inline-block;
  color: white;
  font-size: px2rem(24);
  line-height: px2rem(32);
}

.queue_table_select .queue_table_select_button_box {
  margin-top: px2rem(50);
  margin-bottom: px2rem(30);
}

/*# sourceMappingURL=index.css.map */
