.queue {
  position: relative;
  min-height: 100vh;
  padding-bottom: px2rem(30 + 24);
  box-sizing: border-box;
}

.queue_notice_box {
  position: relative;
  margin-left: 25px;
  margin-right: 25px;
  background: transparent;
  z-index: 1;
}

.queue_notice {
  background: white;
  height: 88px;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 30px;

  border-radius: px2rem(88 / 2);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);

  .queue_notice_icon {
    background-image: url("/img/common/notice.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 40px;
    height: 40px;
    left: 40px;

    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
  }

  .queue_notice_label {
    position: absolute;
    left: px2rem(40 + 40 + 15);

    line-height: 88px;
    color: #f52626;
  }
}

.queue_content_box {
  position: relative;
  background: white;
  top: -45px;
}

.queue_box {
  position: relative;
  margin-top: 50px;

  .queue_title {
    height: 40px;

    .queue_title_icon {
      background-image: url("/img/c/queue/queue_title.png");
      background-repeat: no-repeat;
      background-size: 100% 100%;
      width: 40px;
      height: 40px;
      position: absolute;
      left: 30px;
      top: 0;
    }

    .queue_title_label {
      position: absolute;
      font-size: 28px;
      color: #333333;
      line-height: 40px;
      left: px2rem(30 + 40 + 10);
      top: 0;
    }
  }
}

.queue_box_table {
  position: relative;
  height: 120px;
  border-radius: 10px;
  margin: 20px 30px;
  background: #FFF5F5;
  border: solid px2rem(1) #F7949D;

  .queue_box_table_info {
    position: relative;
    display: inline-block;
    margin-left: 50px;
    text-align: center;

    top: 50%;
    transform: translate(0, -50%);

    .queue_box_table_title {
      position: relative;

      .queue_box_table_name {
        display: inline-block;
        vertical-align: middle;
        font-size: 28px;
        color: #333333;
        line-height: 32px;
      }

      .queue_box_table_private {
        display: inline-block;
        vertical-align: middle;
        background: linear-gradient(90deg, rgba(255, 51, 68, 1), rgba(255, 136, 51, 1));
        border-radius: 5px;
        height: 32px;
        line-height: 32px;
        padding: 0 10px;

        color: white;
        font-size: 24px;
        text-align: center;
      }
    }

    .queue_box_table_people {
      margin-top: 10px;
      color: #666666;
      font-size: 24px;
    }
  }

  .queue_box_table_wait_people {
    display: inline-block;
    color: #f52626;
    position: absolute;
    right: 240px;
  }

  .queue_box_table_wait_people:before {
    content: "等待";
    font-size: 28px;
    color: #333333;
    line-height: 120px;
    margin-right: 10px;
  }

  .queue_box_table_wait_people:after {
    content: "桌";
    font-size: 28px;
    color: #333333;
    line-height: 120px;
    margin-left: 10px;
  }

  .queue_box_table_wait_time_zero {
    display: inline-block;
    float: right;
    margin-right: 50px;
    font-size: 28px;
    color: #999999;
    line-height: 120px;
  }

  .queue_box_table_wait_guess {
    display: inline-block;
    margin-right: 50px;
    float: right;

    .queue_box_table_wait_time {
      display: inline-block;
      font-size: 28px;
      color: #f52626;
      line-height: 120px;
    }

    .queue_box_table_wait_time2 {
      display: inline-block;
      margin-left: 10px;
      font-size: 28px;
      color: #333333;
      line-height: 120px;
    }
  }
}

.queue_distance {
  position: relative;
  background: white;
  height: 60px;

  .queue_distance_label {
    display: inline-block;
    margin-left: 35px;

  }

  .queue_distance_goto {
    display: inline-block;
    float: right;

    .queue_distance_goto_icon {
      background-image: url("/img/c/queue/queue_goto.png");
      background-repeat: no-repeat;
      background-size: 100% 100%;
      width: 34px;
      height: 34px;

      float: right;
      display: inline-block;
      margin-right: 10px;
    }

    .queue_distance_goto_label {
      display: inline-block;
      float: right;
      margin-right: 35px;
      color: #f52626;
      line-height: 34px;
    }
  }
}

.queue_prompt {
  margin: 20px 25px 0 25px;

  .queue_prompt_label {
    font-size: 24px;
  }
}

.queue_number_box {
  position: relative;
  background: white;
}

.queue_number {
  position: relative;

  .queue_number_title {
    position: relative;
    height: 50px;
    margin-left: 35px;
    margin-right: 35px;
    top: 35px;

    .queue_number_title_icon {
      display: inline-block;
      background-image: url("/img/c/queue/queue_number.png");
      background-repeat: no-repeat;
      background-size: 100% 100%;
      width: 40px;
      height: 40px;

      position: absolute;
      top: 50%;
      transform: translate(0, -50%);
    }

    .queue_number_title_label {
      position: absolute;
      left: px2rem(40 + 10);
      color: #333333;
      line-height: 50px;
      top: 0;
    }

    .queue_number_title_status {
      position: absolute;
      right: px2rem(40 + 20);
      color: #333333;
      font-size: 24px;
      top: 0;
      padding: 5px 10px;
      border-radius: 5px;
    }

    .queue_number_title_status_now {
      background: #f6fffc;
      color: #3ed195;
      border: solid px2rem(1) #00c172;

      right: 0;
    }

    .queue_number_title_status_wait {
      background: #fef2f4;
      color: #f32824;
      border: solid px2rem(1) #f32824;
    }

    .queue_number_title_cancel {
      background-image: url("/img/common/delete.png");
      background-repeat: no-repeat;
      background-size: 100% 100%;
      width: 28px;
      height: 30px;
      color: #333333;
      position: absolute;
      right: 0;
      top: px2rem((50 - 30) / 2)
    }
  }

  .queue_number_desk {
    position: relative;
    margin-top: 50px;
    text-align: center;

    .queue_number_desk_number {
      display: inline-block;
      font-size: 80px;
      color: #f52626;
    }

    .queue_number_desk_detail {
      display: inline-block;

      margin-right: 10px;
    }
  }

  .queue_number_time {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 30px;
  }

  .queue_number_status {
    margin-top: 25px;
    margin-left: 35px;
    margin-right: 35px;

    .queue_number_status_wait_people {
      display: inline-block;
      font-size: 28px;
      color: #f52626;
    }

    .queue_number_status_wait_people:before {
      display: inline-block;
      content: "前方正在等待";
      color: #666666;
      margin-right: 10px;
    }

    .queue_number_status_wait_people:after {
      display: inline-block;
      content: "桌";
      color: #666666;
      margin-left: 10px;
    }

    .queue_number_status_wait_guess {
      display: inline-block;
      float: right;

      .queue_number_status_wait_label {
        display: inline-block;
        content: "预计等待";
        color: #666666;
        margin-right: 10px;
      }

      .queue_number_status_wait_time {
        display: inline-block;
        font-size: 28px;
        color: #f52626;
      }

      .queue_number_status_wait_time2 {
        display: inline-block;
        color: #666666;
        margin-left: 10px;
      }
    }
  }
}

.queue_table_select {
  text-align: center;
  height: 90px;
  margin: 20px 70px;
  border-radius: 10px;
}

.queue_table_select_none {
  border: solid px2rem(1) #D3D3D3;
}

.queue_table_select_yes {
  border: solid px2rem(1) #f52626;
}

.queue_table_select_no {
  border: solid px2rem(1) #999999;
}

.queue_table_name {
  display: inline-block;
  font-size: 28px;
  line-height: 90px;
}

.queue_table_name_none {
  color: #D3D3D3;
}

.queue_table_name_yes {
  color: #f52626;
}

.queue_table_name_no {
  color: #999999;
}

.queue_table_people {
  display: inline-block;
  font-size: 28px;
  line-height: 90px;
}

.queue_table_people_none {
  color: #D3D3D3;
}

.queue_table_people_yes {
  color: #f52626;
}

.queue_table_people_no {
  color: #999999;
}

.queue_table_private {
  background: linear-gradient(90deg, rgba(255, 51, 68, 1), rgba(255, 136, 51, 1));
  border-radius: 5px;
  width: 60px;
  height: 32px;
  left: 40px;

  display: inline-block;
  color: white;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
}
