.reserve_logo_radius_image {
  background-image: url("/img/b/reserve/b_reserve_logo.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 140px;
  height: 140px;
}

.reserve_reply {
  text-align: center;
}

.reserve_reply_icon {
  display: inline-block;
  vertical-align: middle;
  width: 32px;
  height: 32px;
}

.reserve_reply_label {
  display: inline-block;
  vertical-align: middle;
  margin-left: 5px;
  height: 32px;
  line-height: 32px;
  color: #999999;
}

.reserve_reply_divide {
  display: inline-block;
  vertical-align: middle;
  margin-right: 20px;
}
