.shop_title_box {
  margin-top: px2rem(40);
  margin-left: px2rem(35);
  padding-right: px2rem(35);

  .shop_title_name {
    font-size: px2rem(36);
    color: white;
    font-weight: 400;
  }

  .shop_title_detail {
    margin-top: px2rem(10);
    color: rgba(254, 254, 254, 0.8);
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
  }
}
